.search-details {

}

.vert {
  background-color: #4ba65f;
  font-size: xx-large;
  color : gold;
}

.orange {
  background-color: #ffc520;
  font-size: xx-large;
  color : white;
}

.rouge {
  background-color: #ff5050;
  font-size: xx-large;
  color : gold;
}

.noir {
  background-color: #202020;
  font-size: xx-large;
  color : gold;
}
