<ion-header>
    <ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
        <ion-title style="padding-left: 0">{{fullTitle}}</ion-title>
        <ion-buttons end>
            <button (click)="close()">
                <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="search-details">
    <ion-grid>
        <ion-row>
            <h3>{{fullName}}</h3>&nbsp;<ion-badge item-right style="margin: 0px 8px 9px 0;">{{matching}}</ion-badge>
        </ion-row>
        <ion-row>
           <h4> {{isEmployer ? 'Offre de service: ' : 'Offre: '}} {{fullTitle}} </h4>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-list-header>
                    Langues {{isEmployer?"maîrisées":"requises"}}
                </ion-list-header>
                <ion-item *ngFor="let item of languages">
                    {{item.libelle}}
                </ion-item>
                <ion-list-header>
                    Qualités {{isEmployer?"acquises":"requises"}}
                </ion-list-header>
                <ion-item *ngFor="let item of qualities">
                    {{item.libelle}}
                </ion-item>
            </ion-list>
        </ion-row>
        <ion-row *ngIf="videoPresent">
            <iframe width="100%" height="200"
                    src="{{videoLink}}">
                <!--http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1 -->
            </iframe>
        </ion-row>
        <ion-row>

            <ion-col width-100>
                <ion-buttons end>
                    <button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                            (click)="sendEmail()">
                        <ion-icon name="at"></ion-icon>
                    </button>
                    <button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                            (click)="call()">
                        <ion-icon name="call"></ion-icon>
                    </button>
                    <button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                            (click)="sendSMS()">
                        <ion-icon name="mail"></ion-icon>
                    </button>
                    <button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''" (click)="skype()">
                        <ion-icon name="logo-skype"></ion-icon>
                    </button>
                    <!--button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''" (click)="googleHangout()" disabled>
                        <ion-icon name="logo-googleplus"></ion-icon>
                    </button-->
                </ion-buttons>
            </ion-col>
        </ion-row>

        <ion-row>
            <button block class="{{availability.code}}" disabled>
                {{starsText}}
            </button>
        </ion-row>
         <div id="map_canvas" style="height:200px;" >
        </div>
         <ion-row>
            <button block [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''" *ngIf="isEmployer && !result.checkedContract"
                    (click)="contract()" >
                Recruter maintenant
            </button>
        </ion-row>
        <ion-row *ngIf="isEmployer && !result.checkedContract" >
            <ion-item>
                <ion-label>Sélectionner pour embauche</ion-label>
                <ion-checkbox [(ngModel)]="result.checkedContract" (ionChange)="selectContract()" ></ion-checkbox>
            </ion-item>
        </ion-row>

        <ion-row *ngIf="isEmployer && result.checkedContract" >
            <span style="text-align: right;margin-top: 40px;">Ce jobyer est déjà sélectionné pour l'établissement d'un contrat, vous pouvez consulter les détails dans l'écran "Contrats en attente"</span>
        </ion-row>
    </ion-grid>
</ion-content>
