<!--ion-header no-border class="myToolbar">
    <ion-navbar transparent [color]="themeColor" >
        <ion-title class="header-text-color" text-left>Retour à la liste</ion-title>
    </ion-navbar>
</ion-header-->

<ion-content class="advert-details" padding [ngStyle]="backgroundImage">
    <button ion-button icon-left [color]="themeColor" clear navPop>
        <ion-icon name="arrow-back"></ion-icon>
        Retour à la recherche
    </button>

    <ion-card>
        <ion-row>
            <ion-col width-33 *ngIf="advert.thumbnail.fileContent && advert.thumbnail.fileContent.length != 0">
                <ion-avatar>
                    <img [src]="advert.thumbnail.fileContent" style="margin:5px">
                </ion-avatar>
            </ion-col>
            <ion-col text-wrap>
                <ion-card-header>{{advert.titre}}</ion-card-header>
            </ion-col>
        </ion-row>
        <ion-card-content style="padding: 0;">
            <ion-item text-wrap *ngIf="advert.imgbg.fileContent">
                <img [src]="advert.imgbg.fileContent" style="border:2px solid gray;">
                <!--button ion-button (click)="goToOffer()" color="vojgrey" *ngIf="advert.hasOffer">
                    <ion-icon name="clipbboard"></ion-icon>
                    Afficher l'offre associée
                </button>
                <h3 text-wrap class="h3-margintop" *ngIf="!advert.hasOffer">Aucune offre n'est encore associée à cette annonce</h3-->
            </ion-item>

            <ion-item text-wrap *ngIf="!isEmployer">
                <button ion-button icon-right block (click)="saveAdvertInterest()" [color]="themeColor">
                    {{jobyerInterestLabel}}
                    <ion-icon name="md-thumbs-up"></ion-icon>
                </button>
            </ion-item>


            <ion-item>
                <span class="large" [innerHTML]="advert.description"></span>
            </ion-item>

            <ion-item *ngIf="contractForm && contractForm.length != 0">
                <p>Forme de contrat: </p>
                <h3 text-wrap *ngFor="let cf of contractForm">{{cf}}</h3>
            </ion-item>

            <ion-item *ngIf="advert.attachement.fileContent && advert.attachement.fileContent.length != 0">
                <p>Pièces jointes: </p>
                <button ion-button icon-left (click)="downloadAttachement()" block clear>
                    <ion-icon name="download" item-left></ion-icon>
                    {{attachFilename}}
                </button>
            </ion-item>
            <ion-item text-center >
                <button ion-button color="danger" icon-left (click)="displayDeleteAlert()">
                    <ion-icon name="trash"></ion-icon>
                    Supprimer l'annonce
                </button>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>
