<!--
  Generated template for the MissionDetailsPage page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''" *navbar>
  <ion-title>{{missionDetailsTitle}}</ion-title>
</ion-navbar>

<ion-content padding>
	<ion-row [hidden]="(missionHours && missionHours.length != 0)">
        <ion-col width-10></ion-col>
        <ion-col text-center> <h6 [style.color]="themeColor"> Aucun jour de mission n'est encore défini pour ce contrat </h6></ion-col>
        <ion-col width-10></ion-col>
    </ion-row>
    <ion-card *ngFor="let day of missionHours, let i=index">
		<ion-card-header (click)="onCardClick(i)" class="cardHeader">
            Jour {{i + 1}}: {{day.jour_debut | dateConverter:'long'}}  
        </ion-card-header>
        <ion-card-content>
			<ion-list>
			  <ion-item>
				<ion-label fixed>H. de début</ion-label>
				<ion-input value="{{day.heure_debut | timeConverter:'minute'}}" disabled="true"></ion-input>
			  </ion-item>
			  <ion-list *ngFor="let startPause of startPauses[i], let j=index">
			  <ion-item>
				<h2 (click)="onPauseClick(i, j)">Pause {{j + 1}}</h2>
			  </ion-item>  
			  <ion-item>
				<ion-label fixed>Début de pause</ion-label>
				<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="startPauses[i][j]" (ionChange)="checkPauseHour(i, j, true)" [disabled]="!isNewMission"></ion-datetime>
			  </ion-item>
			  <ion-item>
				<ion-label fixed>Fin de pause</ion-label>
				<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="endPauses[i][j]" (ionChange)="checkPauseHour(i, j, false)" [disabled]="!isNewMission"></ion-datetime>
			  </ion-item>
			  </ion-list>
			  <ion-item>
				<ion-label fixed>H. de fin</ion-label>
				<ion-input value="{{day.heure_fin | timeConverter:'minute'}}" disabled="true"></ion-input>
			  </ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>	
	<ion-row>
		<ion-col text-center>
			<button block (click)="validatePauses()" [style.backgroundColor]="themeColor" [hidden]="!isNewMission">
				<ion-icon name="send"></ion-icon>
				Valider et notifier le Jobyer
			</button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center>
			<button block (click)="resetForm()" [style.backgroundColor]="themeColor" [hidden]="!isNewMission">
				<ion-icon name="refresh"></ion-icon>
				Rénitialiser
			</button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center>
			<button block (click)="goBack()" [style.backgroundColor]="themeColor">
				<ion-icon name="undo"></ion-icon>
				Quitter
			</button>
		</ion-col>
	</ion-row>
</ion-content>