.mission-details {
	background-size: cover;

	ion-toolbar.toolbar {
		min-height: 70px;
	}

	.cardHeader{
		background: #b7b5b5 !important;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: small;
	}

	.iconRight{
		float: right;
	}

	.marginTopList{
		margin-top: 5px;
	}

	.button-picture {
		white-space: normal;
		font-size: 12px;
	}

	ion-label {
		padding-top: 5px;
	}

	.labelInItem {
		background-color: lightyellow;
	}

	.ion-col {
		border: think solid black;
	}

}