<ion-header>
<ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''" >
  <ion-title>{{missionDetailsTitle}}</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row [hidden]="!isEmployer || !missionHours || missionHours.length == 0">
        <ion-col> 
			<h6 [style.color]="themeColor"> {{optionMission}} </h6>
		</ion-col>
        <ion-col width-20>
			<button clear item-right [style.color]="themeColor" (click)="changeOption()" [hidden]="contract.vu == 'Oui'">
				<ion-icon name="create"></ion-icon>
			</button>	
		</ion-col>
    </ion-row>
	<ion-row [hidden]="(missionHours && missionHours.length != 0)">
        <ion-col width-10></ion-col>
        <ion-col text-center> <h6 [style.color]="themeColor"> Aucun jour de mission n'est encore défini pour ce contrat </h6></ion-col>
        <ion-col width-10></ion-col>
    </ion-row>
    <ion-card [hidden]="isEmployer ||contract.signature_jobyer == 'Oui' || (!missionHours || missionHours.length == 0)">
		<ion-row>
			<ion-col text-center>
			<ion-item>
			<button block (click)="launchContractPage()" [style.backgroundColor]="themeColor">
				<ion-icon name="create"></ion-icon>
				Signer votre contrat</button>
			</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-item>
				<ion-label>Signé</ion-label>
				<ion-toggle (ionChange)="watchSignedToggle($event)"></ion-toggle>
			</ion-item>
		</ion-row>	
    </ion-card>
    <ion-card *ngFor="let day of missionHours, let i=index">
		<ion-card-header (click)="onCardClick(i)" class="cardHeader">
            Jour {{i + 1}}: {{day.jour_debut | dateConverter:'long'}}
			<ion-icon name="add-circle" [hidden]="!isNewMission || !isEmployer" class="iconRight"></ion-icon>
        </ion-card-header>
        <ion-card-content style="padding: 0;">
			<ion-list>
			  <ion-item>
				<ion-label fixed>H. de début</ion-label>
				<ion-input value="{{day.heure_debut | timeConverter:'minute'}}" disabled="true"></ion-input>
				<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" (ionChange)="checkHour(i, j, false, true, true)" minuteValues="0,15,30,45" cancelText="Annuler" doneText="Ok" [(ngModel)]="day.heure_debut_pointe" [disabled]="day.heure_debut_pointe != ''" [hidden]="contract.option_mission != '2.0'|| isNewMission" ></ion-datetime>
			  </ion-item>
			  <ion-list *ngFor="let startPause of startPauses[i], let j=index" class="marginTopList">
			  <ion-item (click)="onPauseClick(i, j)">
			  <ion-row>
			  <ion-col width-90>
				<h2>Pause {{j + 1}}</h2>
				</ion-col>
				<ion-col width-10>
				<ion-icon name="trash" [hidden]="!isNewMission || !isEmployer" class="iconRight"></ion-icon>
				</ion-col>
				</ion-row>
			  </ion-item>  
			  <ion-item>
				<ion-label fixed>Début de pause</ion-label>
				<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="startPauses[i][j]" (ionChange)="checkHour(i, j, true, false, false)" [disabled]="!isNewMission || !isEmployer" minuteValues="0,15,30,45" cancelText="Annuler" doneText="Ok"></ion-datetime>
				<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="startPausesPointe[i][j]" (ionChange)="checkHour(i, j, true, true, false)" [disabled]="startPausesPointe[i][j] != ''"
				[hidden]="contract.option_mission != '2.0'|| isNewMission" minuteValues="0,15,30,45" cancelText="Annuler" doneText="Ok"></ion-datetime>
			  </ion-item>
			  <ion-item>
				<ion-label fixed>Fin de pause</ion-label>
				<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="endPauses[i][j]" (ionChange)="checkHour(i, j, false, false, false)" [disabled]="!isNewMission || !isEmployer" minuteValues="0,15,30,45" cancelText="Annuler" doneText="Ok"></ion-datetime>
				<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="endPausesPointe[i][j]" (ionChange)="checkHour(i, j, false, true, false)" [disabled]="endPausesPointe[i][j] != ''"
				[hidden]="contract.option_mission != '2.0'|| isNewMission" minuteValues="0,15,30,45" cancelText="Annuler" doneText="Ok"></ion-datetime>
			  </ion-item>
			  </ion-list>
			  <ion-item>
				<ion-label fixed>H. de fin</ion-label>
				<ion-input value="{{day.heure_fin | timeConverter:'minute'}}" disabled="true"></ion-input>
				<ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" (ionChange)="checkHour(i, j, false, true, false)" minuteValues="0,15,30,45" cancelText="Annuler" doneText="Ok" [(ngModel)]="day.heure_fin_pointe" [disabled]="day.heure_fin_pointe != '' " [hidden]="contract.option_mission != '2.0'|| isNewMission" ></ion-datetime>
			  </ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>	
	<ion-row>
		<ion-col text-center>
			<button block (click)="validatePauses()" [style.backgroundColor]="themeColor" [hidden]="!isNewMission || (missionHours && missionHours.length == 0) || !isEmployer">
				<ion-icon name="send"></ion-icon>
				Valider et notifier le Jobyer
			</button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center>
			<button [style.backgroundColor]="themeColor" block (click)="setStarPicker()">
                {{starsText==''?'Attribuer une note':starsText}}
			</button>
        </ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center>
			<button block (click)="resetForm()" [style.backgroundColor]="themeColor" [hidden]="!isNewMission || (missionHours && missionHours.length == 0) || !isEmployer">
				<ion-icon name="refresh"></ion-icon>
				Rénitialiser
			</button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center>
			<button block (click)="signSchedule()" [style.backgroundColor]="themeColor" [hidden]="isNewMission || !isEmployer || contract.approuve == 'OUI'">
				<ion-icon name="ribbon"></ion-icon>
				Signer les horaires
			</button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center>
			<button block (click)="validateWork()" [style.backgroundColor]="themeColor" [hidden]="!isEmployer || !invoiceReady || isNewMission" >
				<ion-icon name="ribbon"></ion-icon>
				Fin de mission
			</button>
		</ion-col>
	</ion-row>
	
	<ion-row [hidden]="(missionHours && missionHours.length == 0) || !isEmployer || contract.option_mission != '2.0' || isNewMission || contract.releve_employeur == 'OUI'">
		<ion-col text-center>
			<button block (click)="generateTimesheet()" [style.backgroundColor]="themeColor" [disabled]="disableTimesheetButton()" class="button-picture">
				<ion-icon name="paper"></ion-icon>
				Générer le relevé d'heure et envoyer
			</button>
		</ion-col>
	</ion-row>
	
	<ion-row>
		<ion-col text-center>
			<button block (click)="displaySignAlert()" [style.backgroundColor]="themeColor" [hidden]="isNewMission || contract.option_mission != '2.0' || contract.releve_jobyer == 'OUI'">
				<ion-icon name="ribbon"></ion-icon>
				Signer les horaires
			</button>
		</ion-col>
	</ion-row>
	
	<ion-row>
		<ion-col text-center>
			<h6 [style.color]="themeColor" [hidden]="isEmployer || isNewMission || contract.option_mission != '2.0' || contract.releve_jobyer != 'OUI'"> En attente de signature par l'employeur </h6>
		</ion-col>
	</ion-row>
	
	<ion-row>
		<ion-col text-center>
			<button block (click)="goBack()" [style.backgroundColor]="themeColor">
				<ion-icon name="undo"></ion-icon>
				Quitter
			</button>
		</ion-col>
	</ion-row>
</ion-content>