<ion-header>
    <ion-navbar [color]="themeColor">
        <ion-title>Proposition</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()" clear>
                <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding class="modal-offer-proposition">
    <h2>Proposition</h2>
    <ion-list>
        <ion-list-header>Job</ion-list-header>
        <ion-item>
            <span>{{proposedJob.libellejob}}</span>
        </ion-item>
        <ion-list-header>Langues</ion-list-header>
        <ion-item *ngFor="let l of proposedLanguages">
            <span>{{l.libelle}}</span>
            <button item-right [color] = "themeColor" (click)="deleteLanguage(l)" ion-button>
                <ion-icon name="md-trash"></ion-icon>
            </button>
        </ion-item>
        <ion-list-header>Indispensables</ion-list-header>
        <ion-item *ngFor="let q of proposedQualities">
            <span>{{q.libelle}}</span>
            <button ion-button [color] = "themeColor" item-right secondary (click)="deleteQuality(q)">
                <ion-icon name="md-trash"></ion-icon>
            </button>
        </ion-item>

    </ion-list>
    <button block ion-button [color] = "themeColor" (click)="saveProposition()">
        Enregistrer
    </button>
    <button block ion-button [color] = "themeColor"  (click)="cancel()">
        Annuler
    </button>
</ion-content>
