offer-detail {

  background-size: cover;

  .img-header {
    position: relative;
    text-align: center;
  }

  .button-footer {
    text-align: right;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 55%;
    width: 100%;
    color: #fff;
  }

  table {
    width: 100%;
  }
  table, th, td {
    /*border: 1px solid black;*/
    padding: 1px;
    border-collapse: collapse;
  }
  th, td {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  table#t01 th {
    color: white;
  }
}
