node_modules/
www/build/
www/assets/
www/index.html
www/manifest.json
www/service-worker.js
platforms/
plugins/
resources/android
resources/ios
res
bower_components
.idea
.iws
.tmp
workspace.xml
tasks.xml
.DS_Store
npm-debug.log
/.tmp