<!--ion-header>
    <ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''" >
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Contrats en attente</ion-title>

    </ion-navbar>
</ion-header-->


<ion-content padding class="pending-contracts" [ngStyle]="backgroundImage">
    <button menuToggle style="background-color: transparent; box-shadow: none" [style.color]="themeColor">
        <ion-icon name="menu" primary></ion-icon>
        &nbsp;&nbsp;Recrutement groupé
    </button>
    <!--ion-row>
        <ion-col width-10></ion-col>
        <ion-col text-center> <button outline disabled="true"> <ion-icon name="done-all"></ion-icon>Recruter le groupe</button></ion-col>
        <ion-col width-10></ion-col>
    </ion-row-->
    <ion-card>
        <ion-list text-wrap>
            <ion-item style="background-color: lightcyan" *ngFor="let item of contractList"
                      (click)="selectContract(item)">
                <ion-avatar item-left>
                    <img [src]="item.jobyer.avatar">
                </ion-avatar>
                <ion-row>
                    <ion-col><h2>{{isEmployer ? item.jobyer.prenom + ' ' + item.jobyer.nom.substring(0,1) + '.' :
                        item.jobyer.entreprise}}</h2></ion-col>

                </ion-row>
                <h4>{{item.jobyer.titreOffre}}</h4>
                <p>
                    <ion-icon name="ios-timer" [style.color]="availability" style="font-size: large;"></ion-icon>
                    &nbsp; Disponible
                </p>
                <ion-badge item-right secondary>{{(item.jobyer.matching.toString().indexOf('.') < 0) ?
                    item.jobyer.matching:item.jobyer.matching.toString().split('.')[0]}}%
                </ion-badge>
            </ion-item>
        </ion-list>
    </ion-card>

    <!--ion-list text-wrap>
        <ion-item *ngFor="let item of contractList" (click)="selectContract(item)" >
            <h2 [style.color]="themeColor" >{{item.titre}} {{item.prenom}} {{item.nom}}</h2>
            <h6 [style.color]="themeColor" >{{item.titreOffre}}{{item.titreoffre}}</h6>
        </ion-item>
    </ion-list-->

</ion-content>
