<ion-header>
<ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
    <ion-title>Détail</ion-title>
    <ion-buttons end>
        <button (click)="showPopover($event)">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content padding class="offer-detail" >

    <!--Offer title-->
    <h5 style="text-align: center;">{{offer.title}} {{offer.obsolete ? '(Obsolète)' : ''}}</h5>

    <ion-list>

        <ion-card >
            <ion-card-header>Vidéo</ion-card-header>
            <ion-card-content>
                <ion-input placeholder="Lien de vidéo Youtube" [(ngModel)]="youtubeLink" [hidden]="videoAvailable"></ion-input>

                <div *ngIf="videoAvailable">
                    <iframe width="100%" height="200" style="display:{{videoAvailable?'block':'none'}}" target="_parent" [src]="videoUrl()">
                    </iframe>
                </div>
            </ion-card-content>
			<div [hidden]="isLinkValid" class="error-box"><ion-icon name="md-arrow-dropup"></ion-icon> Le lien de la vidéo est non valide</div>
            
			<div class="button-footer">
                <button clear [style.color]="themeColor" (click)="updateVideo(false)" [hidden]="videoAvailable">
                    <ion-icon name="videocam"></ion-icon>
                    <div>Modifier</div>
                </button>
                <button clear [style.color]="themeColor" (click)="updateVideo(true)" [hidden]="!videoAvailable">
                    <ion-icon name="trash"></ion-icon>
                    <div>Supprimer</div>
                </button>
            </div>
        </ion-card>

        <!--Job-->
        <div style="display: flex; background-size: cover;"
             [ngStyle]="jobStyle.backgroundImage">
            <ion-list-header style="width: 100%;"
                             [style.color]="jobStyle.fontColor"
                             [style.fontWeight]="jobStyle.fontWeight">
                Job
            </ion-list-header>
            <button outline small style="position: relative; top: 0;"
                    [style.color]="jobStyle.buttonColor"
                    [style.borderColor] = "jobStyle.fontColor"
                     (click)="showJobCard()">
                <ion-icon [name]="jobIconName"></ion-icon> Détails
            </button>
        </div>

        <ion-card [hidden] = "!showJob">
            <div class="img-header">
                <img src="img/job.png"/>
                <ion-icon name="euro"></ion-icon>
                <div class="card-title">Job</div>
            </div>
            <div>
                <ul>
                    <li><span style="font-weight: bold">Secteur </span>: {{offer.jobData.sector}}</li>
                    <li><span style="font-weight: bold">Job </span>: {{offer.jobData.job}}</li>
                    <li><span style="font-weight: bold">Niveau </span>: {{(offer.jobData.level ==='senior')? 'Expérimenté':'Débutant'}}</li>
                    <li><span style="font-weight: bold">Rémunération </span>: {{offer.jobData.remuneration}} €/h</li>
                </ul>
            </div>
            <div class="button-footer">
                <button clear [style.color]="themeColor" (click)="showJobModal()">
                    <ion-icon name="create"></ion-icon>
                    <div>Modifier</div>
                </button>
            </div>
        </ion-card>

        <ion-row>&nbsp;</ion-row>

        <!-- Calendar Card-->
        <div style="display: flex; background-size: cover;"
             [ngStyle]="calendarStyle.backgroundImage">
            <ion-list-header style="width: 100%" [style.color]="calendarStyle.fontColor"
                             [style.fontWeight]="calendarStyle.fontWeight">
                Disponibilité
            </ion-list-header>
            <button  outline small style="position: relative; top: 0" (click)="showCalendarCard()"
                     [style.color]="calendarStyle.buttonColor"
                     [style.borderColor] = "calendarStyle.fontColor">
                <ion-icon [name]="calendarIconName"></ion-icon>Détails
            </button>
        </div>
        <ion-card [hidden] = "!showCalendar">
            <div class="img-header">
                <img src="img/calendar.png"/>
                <div class="card-title">Disponibilité</div>
            </div>
            <div>
                <table id="t01">
                    <tr>
                        <th [style.backgroundColor]="inversedThemeColor">Créneau</th>
                        <th [style.backgroundColor]="inversedThemeColor">De</th>
                        <th [style.backgroundColor]="inversedThemeColor">À</th>
                    </tr>
                    <tr *ngFor="let item of offer.calendarData">
                        <td>{{toDateString(item.date)}}</td>
                        <td>{{toHourString(item.startHour)}}</td>
                        <td>{{toHourString(item.endHour)}}</td>
                    </tr>
                </table>
            </div>
            <div class="button-footer">
                <button clear [style.color]="themeColor" (click)="showCalendarModal()">
                    <ion-icon name="create"></ion-icon>
                    <div>Modifier</div>
                </button>
            </div>
        </ion-card>

        <ion-row>&nbsp;</ion-row>

        <!-- Qualities Card-->
        <div style="display: flex; background-size: cover;"
             [ngStyle]="qualityStyle.backgroundImage">
            <ion-list-header style="width: 100%" [style.color]="qualityStyle.fontColor"
                             [style.fontWeight]="qualityStyle.fontWeight">
                Qualités
            </ion-list-header>
            <button  outline small style="position: relative; top: 0"
                     [style.color]="qualityStyle.buttonColor"
                     [style.borderColor] = "qualityStyle.fontColor"
                     (click)="showQualityCard()">
                <ion-icon [name]="qualityIconName"></ion-icon> Détails
            </button>
        </div>
        <ion-card [hidden] = "!showQuality">
            <div class="img-header">
                <img src="img/quality.png"/>
                <div class="card-title" style="color: white">Qualités</div>
                <div class="card-subtitle" style="color: white">indispensables</div>
            </div>
            <div>
                <ul>
                    <li *ngFor="let item of offer.qualityData">{{item.libelle}}</li>
                </ul>
            </div>
            <div class="button-footer">
                <button clear [style.color]="themeColor" (click)="showQualityModal()">
                    <ion-icon name="create"></ion-icon>
                    <div>Modifier</div>
                </button>
            </div>
        </ion-card>

        <ion-row>&nbsp;</ion-row>

        <!-- Languages Card-->
        <div style="display: flex; background-size: cover;"
             [ngStyle]="languageStyle.backgroundImage">
            <ion-list-header style="width: 100%" [style.color]="languageStyle.fontColor"
                             [style.fontWeight]="languageStyle.fontWeight">
                Langues
            </ion-list-header>
            <button  outline small style="position: relative; top: 0" (click)="showLanguageCard()"
                     [style.color]="languageStyle.buttonColor"
                     [style.borderColor] = "languageStyle.fontColor">
                <ion-icon [name]="languageIconName"></ion-icon> Détails
            </button>
        </div>
        <ion-card [hidden] = "!showLanguage">
            <div class="img-header">
                <img src="img/language.png"/>
                <div class="card-title">Langues</div>
            </div>
            <div>
                <ul>
                    <li *ngFor="let item of offer.languageData">
                        <span style="font-weight: bold">{{item.libelle}}</span> : {{item.level == 'junior' ? 'Débutant' : 'Courant'}}
                    </li>
                </ul>
            </div>
            <div class="button-footer">
                <button clear [style.color]="themeColor" (click)="showLanguageModal()">
                    <ion-icon name="create"></ion-icon>
                    <div>Modifier</div>
                </button>
            </div>
        </ion-card>
    </ion-list>

    <!--ion-row>
        <ion-col text-center>
            <button danger (click)="deleteOffer()">
                <ion-icon name="trash"></ion-icon>
                Supprimer
            </button>
        </ion-col>
    </ion-row-->


</ion-content>
