modal-language {
.modal-language {

  .delete-button {
    position: relative;
    margin-top: 0;
    vertical-align: baseline;
    padding-right: 0 !important;
    margin-right: 0 !important;
  }

  .item {
    color: #14baa6;
  }

  ion-label {
    margin-top: 0;
    margin-bottom: 0;
  }
}

}
