<ion-header>
    <ion-navbar [color]="themeColor">
        <ion-title>Logiciels maitrisés</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="modal-software">
    <ion-item>
        <ion-label floating>Logiciel</ion-label>
        <ion-select [(ngModel)]="software" okText="OK" cancelText="Annuler">
            <ion-option *ngFor="let s of softwares" [value] = "s">{{s.libelle}}</ion-option>
        </ion-select>
    </ion-item>
    <div>
        <ion-list radio-group [(ngModel)]="software.niveau">
            <ion-list-header style="margin-left: 0; padding: 0 0 0 0;" color="primary">
                <h5 style="margin-bottom: 0; margin-top: auto">
                   Niveau
                </h5>
            </ion-list-header>
            <ion-item>
                <ion-label>Partiellement maîtrisé</ion-label>
                <ion-radio value="1"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Totalement maîtrisé</ion-label>
                <ion-radio value="2"></ion-radio>
            </ion-item>
        </ion-list>
    </div>

    <ion-row>
        <ion-col text-center>
            <button ion-button icon-left small
                    [color]="themeColor" (click)="addSoftware(software)" [disabled]="isEmpty(software.libelle) || isEmpty(software.niveau)">
                <ion-icon name="checkmark-circle"></ion-icon>
                Ajouter
            </button>
        </ion-col>
    </ion-row>

    <ion-list>
        <ion-item *ngFor="let s of savedSoftwares">
            <label>{{s.libelle}} - {{s.niveau == 1 ? 'partiellement maîtrisé':'totalement maîtrisé'}}</label>
            <button ion-button small item-right danger (click)="removeSoftware(s)" color="vojgrey">
                <ion-icon name="remove-circle"></ion-icon>
            </button>
        </ion-item>
    </ion-list>

    <ion-item *ngIf="!isEmployer">
        <ion-label floating>Nombre d'heures de travail Vit-On-Job</ion-label>
        <ion-input [(ngModel)]="nbWorkVitOnJob" min="0" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="!isEmployer">
        <ion-label floating>Nombre d'heures de travail ailleurs</ion-label>
        <ion-input type="number" [(ngModel)]="nbWorkHours" min="0"></ion-input>
    </ion-item>

    <ion-list radio-group [(ngModel)]="isNbStudyHoursBig" style="margin-bottom: 5px;">
        <ion-list-header text-wrap>
            Nombre d'heures travaillées en pharmacie
        </ion-list-header>
        <ion-item>
            <ion-label>Plus de 350 heures travaillées</ion-label>
            <ion-radio value="true"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Moins de 350 heures travaillées</ion-label>
            <ion-radio value="false"></ion-radio>
        </ion-item>
    </ion-list>
    <ion-row>
        <ion-col width-10></ion-col>
        <ion-col text-center>
            <button ion-button icon-left block (click)="updateJobyerWorkHours()" [color]="themeColor" type="submit">
                <ion-icon name="done-all"></ion-icon>
                Valider
            </button>
        </ion-col>
        <ion-col width-10></ion-col>
    </ion-row>


</ion-content>
