<ion-navbar *navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
  <ion-title style="padding-left: 0">Recherche par critères</ion-title>
  <ion-buttons end>
    <button (click)="close()">
      <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="search-criteria" >

  <ion-list class="criteria-list">
    <ion-list-header>
      <button *ngFor="let f of filters" (click)="toogleFilter(f)"
              style="font-size: small;" [ngClass]="{'button-secondary': f.activated==true}" outline>
        <ion-icon name="{{f.icon}}"></ion-icon>
      </button>
    </ion-list-header>
    <ion-item *ngFor="let f of filters" [ngClass]="{'hide': f.activated==false }" >
      <ion-input placeholder="{{f.placeHolder}}" clearInput [(ngModel)]="f.value" ></ion-input>
    </ion-item>

  </ion-list>

  <ion-card *ngIf="activeCount == 0">
    <ion-card-content>
      Choisissez vos critères à partir de la barre ci-dessus
    </ion-card-content>
  </ion-card>

  <button fab fab-bottom fab-center [style.backgroundColor]="themeColor" (click)="validateSearch()">
    <ion-icon name="search"></ion-icon>
  </button>

  <!--ion-toolbar class="bottom-toolbar" position="bottom">
    <button (click)="validateSearch()" secondary block>Valider</button>
    <button (click)="close()" dark block>Annuler</button>
  </ion-toolbar-->

</ion-content>
