<ion-header>
    <ion-navbar [color]="themeColor">
        <ion-title>Rechercher une entreprise</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="modal-corporama-search">
    <ion-segment [(ngModel)]="typeSearch" [style.color]="themeColor">
        <ion-segment-button value="company" (ionSelect)="onCompanynameSelected()">
            Par Nom
        </ion-segment-button>
        <ion-segment-button value="siren" (ionSelect)="onSIRENSelected()">
            Par SIREN
        </ion-segment-button>
    </ion-segment>

    <ion-item>
        <ion-input [(ngModel)]="inputSearch" placeholder="{{searchPlaceholder}}"></ion-input>
        <button clear item-right [style.color]="themeColor" (click)="searchCompany()">
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-item>
    <div *ngIf="!isSIRENValid" class="error-box">* Saisissez les 9 chiffres du SIREN
    </div>

    <ion-row *ngIf="companies && companies.length > 0 && !noResult">
        <ion-col width-80>
            <h5>Nom de l'entreprise</h5>
        </ion-col>
        <ion-col width-20>
            <h5>SIREN</h5>
        </ion-col>
    </ion-row>

    <ion-item *ngFor="let company of companies" (click)="takeAction(company)" text-wrap [hidden]="noResult">
        <ion-row>
            <ion-col width-80>
                <h2>{{company.name}}</h2>
            </ion-col>
            <ion-col width-20>
                <h2>{{company.siren}}</h2>
            </ion-col>
        </ion-row>

        <div *ngIf="typeSearch == 'siren' || hasToRedirect">
            <ion-row>
                <h3 *ngIf="company.hasLeader">Nom et prénom: {{company.title}} {{company.lastname}} {{company.firstname}}</h3>
            </ion-row>
            <ion-row>
                <h3>NAF: {{company.naf}}</h3>
            </ion-row>
            <ion-row>
                <h3 *ngIf="company.hasAddress">Adresse: {{company.placename}} {{company.street}} {{company.zip}} {{company.city}}, France</h3>
            </ion-row>
        </div>
    </ion-item>

    <div *ngIf="noResult">Votre recherche n'a retourné aucun résultat
    </div>
</ion-content>
