<ion-header>
    <ion-navbar [color]="themeColor">
        <ion-title>{{yousignTitle}}</ion-title>
        <!--ion-buttons end>
          <button (click)="showMenuToEditContract()">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-buttons-->
    </ion-navbar>
</ion-header>
<ion-content padding class="yousign">
    <ion-row *ngIf="notSigned">
        La signature du contrat n'a pas été effectuée. vous pouvez reprendre la signature ou annuler ce contrat à partir de l'écran des mission.
    </ion-row>
    <ion-row *ngIf="notSigned">
        <ion-col width-10></ion-col>
        <ion-col text-center>
            <button ion-button [color]="themeColor" (click)="goToMissionsList()">
                Aller à mes missions
            </button>
        </ion-col>
        <ion-col width-10></ion-col>
    </ion-row>
</ion-content>
