
profile{

  .myToolbar {
    min-height: calc(20%);
    display: list-item;
  }

  .myEdge{
    top: calc(-20%) !important
  }
  .profile {
    background-size: cover;
    .img-button {
      /*background: url('assets/img/employer.png') no-repeat;*/
      max-width: 150px;
      max-height: 150px;
      width: 100px;
      height: 100px;
      //margin-top:10vh;//calc(50%)/
    }
    .adv-map p {
      font-size: 0.7em !important;
      margin-top: 0;
    }

    button[fab].fab-map {
      top: calc(100% - 35px);
      z-index: 50;
    }

    .item-bold {
      font-weight: bold;
    }

    ion-content.cards-bg {
      background-color: #f4f4f7;
    }

    #map {
      width: calc(100% - 20px);
      height: 30%;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .button-footer {
      text-align: right;
    }

    .button.picker-opt.picker-opt-default.picker-opt-selected {
      font-size: 2em !important;
      color: #14aab6 !important;
    }
  }
}

