<!--ion-header>
    <ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
        <ion-title style="padding-left: 0">{{fullTitle}}</ion-title>
        <ion-buttons end>
            <button (click)="close()">
                <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header-->

<ion-content padding class="search-details" [ngStyle]="backgroundImage">

    <button ion-button icon-left [color]="themeColor" clear navPop>
        <ion-icon name="arrow-back"></ion-icon>
        Retour à la liste
    </button>

    <ion-card>
        <ion-item text-wrap>
            <ion-avatar item-left><img [src]="avatar"></ion-avatar>
            <h3 style="margin-top: 2px;">{{fullName}}</h3>
            <ion-badge item-right style="margin: 0px 8px 9px 0;">{{(matching.toString().indexOf('.') < 0) ?
                matching:matching.toString().split('.')[0]}}
            </ion-badge>
            <p style="color: yellowgreen">{{starsText}}</p>
        </ion-item>
        <div id="map_canvas" style="height:200px;">
        </div>

        <ion-row>
            <ion-col text-center style="padding-top: 16px;">
                <h2 style="font-weight: bold" *ngIf="result.idOffre>0">{{isEmployer ? 'Offre de service: ' : 'Offre: '}} {{fullTitle}} </h2>
            </ion-col>
        </ion-row>

        <ion-col text-center *ngIf="result.rate && result.rate > 0">
            <ion-badge>
                Taux horaire {{(isEmployer)?'demandé ':''}}: {{result.rate}} €/h
            </ion-badge>
        </ion-col>

        <ion-list *ngIf="result.disponibilites && result.disponibilites.length>0">
            <ion-list-header color="primary" style="margin-bottom: 1px;" *ngIf="isEmployer"> Horaire</ion-list-header>
            <ion-list-header color="primary" style="margin-bottom: 1px;" *ngIf="!isEmployer"> Disponibilité
            </ion-list-header>
            <div>
                <table id="t01">
                    <tr>
                        <th [style.backgroundColor]="inversedThemeColor">Créneau</th>
                        <th [style.backgroundColor]="inversedThemeColor">Début</th>
                        <th [style.backgroundColor]="inversedThemeColor">Fin</th>
                    </tr>
                    <tr *ngFor="let item of result.disponibilites">
                        <td>{{(item.pause)? "Pause":(toDateString(item.startDate)===toDateString(item.endDate))?
                            "Le " + toDateString(item.startDate) : "Du " + toDateString(item.startDate) + " au "
                            +toDateString(item.endDate)}}
                        </td>
                        <td>{{toHourString(item.startHour)}}</td>
                        <td>{{toHourString(item.endHour)}}</td>
                    </tr>
                </table>
            </div>
        </ion-list>

        <ion-list no-lines [hidden]="languages.length==0" style="margin-bottom: 16px;">
            <ion-list-header color="primary">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Langues {{isEmployer?"maîtrisées":"requises"}}
            </ion-list-header>
            <ion-item *ngFor="let item of languages">
                <ion-icon name="md-arrow-dropright" item-left></ion-icon>
                {{item.libelle}}
            </ion-item>
        </ion-list>
        <ion-list no-lines [hidden]="qualities.length==0" style="margin-bottom: 16px;">
            <ion-list-header color="primary">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qualités {{isEmployer?"acquises":"requises"}}
            </ion-list-header>
            <ion-item *ngFor="let item of qualities">
                <ion-icon name="md-arrow-dropright" item-left></ion-icon>
                {{item.libelle}}
            </ion-item>
        </ion-list>
        <ion-list no-lines *ngIf="videoPresent">
            <ion-list-header color="primary">Présentation</ion-list-header>
            <ion-item>
                <iframe width="100%" height="200"
                        src="{{videoLink}}">
                    <!--http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1 -->
                </iframe>
            </ion-item>
        </ion-list>

        <ion-list [hidden]="references.length == 0">
            <ion-list-header color="primary">Références</ion-list-header>
            <ion-item *ngFor="let r of references" text-wrap>
                <ion-icon item-left name='star' small color="primary"></ion-icon>
                <h3>{{r.fullName}}</h3>
                <button ion-button icon-only item-right clear color="vojgreen" *ngIf="r.phone.trim()" (click)="callRef(r)">
                    <ion-icon name="call"></ion-icon>
                </button>
                <button ion-button icon-only item-right clear small color="vojgreen" *ngIf="r.email.trim()" (click)="sendEmailRef(r)">
                    <ion-icon name="mail"></ion-icon>
                </button>
                <!--button ion-button clear item-right (click)="showReferenceDetails(r)" large color="primary">
                    <ion-icon name="more"></ion-icon>
                </button-->
            </ion-item>
        </ion-list>


        <ion-row>
            <ion-col text-center>
                <button ion-button color="vojgreen"
                        *ngIf="isEmployer && !isRecruteur"
                        (click)="contract()" small>
                    Recrutement immédiat
                </button>
            </ion-col>
        </ion-row>

        <ion-row style="padding-left: 16px; padding-top: 5px" *ngIf="isEmployer || result.accepteCandidature=='true'">
            <span style="font-size: small">Entretien :</span>
        </ion-row>
        <ion-item *ngIf="isEmployer || result.accepteCandidature=='true'">
            <!--button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                    *ngIf="isEmployer && !result.checkedContract && !isRecruteur"
                    (click)="contract()" item-left>
                Recruter maintenant!
            </button-->

            <!--button ion-button icon-only clear [color]="themeColor"
                    (click)="skype()" item-right>
                <ion-icon name="logo-skype"></ion-icon>
            </button-->
            <button ion-button icon-only clear [color]="themeColor"
                    *ngIf="isEmployer || result.accepteCandidature=='true'"
                    (click)="call()" item-right>
                <ion-icon name="call"></ion-icon>
            </button>
            <button ion-button icon-only clear [color]="themeColor"
                    *ngIf="isEmployer || result.accepteCandidature=='true'"
                    (click)="sendSMS()" item-right>
                <ion-icon name="ios-chatboxes"></ion-icon>
            </button>
            <button ion-button icon-only clear [color]="themeColor"
                    *ngIf="isEmployer || result.accepteCandidature=='true'"
                    (click)="sendEmail()" item-right>
                <ion-icon name="mail"></ion-icon>
            </button>
        </ion-item>

        <!--ion-item>
            <ion-label>Candidature en groupe</ion-label>
            <ion-checkbox [(ngModel)]="result.checkedContract" (ionChange)="selectContract($event)"></ion-checkbox>
        </ion-item-->

        <ion-row *ngIf="!isEmployer">
            <ion-col text-right>
                <button ion-button icon-right clear (click)="saveOfferInterest()" color="primary">
                    {{jobyerInterestLabel}}
                    <ion-icon name="md-thumbs-up" *ngIf="!jobyerInterested"></ion-icon>
                    <ion-icon name="md-thumbs-down" *ngIf="jobyerInterested"></ion-icon>
                </button>
            </ion-col>
        </ion-row>

        <ion-item *ngIf="isEmployer && result.checkedContract" text-wrap style="background-color: lightcyan;
    margin-top: 0;
    margin-bottom: 0;">
            <p>
                <span style="font-size: smaller">Ce jobyer est sélectionné pour l'établissement d'un contrat, vous pouvez consulter les détails dans l'écran "Recrutement groupé"</span>
            </p>
        </ion-item>


    </ion-card>




</ion-content>
