search-details{
  .search-details {
    background-size: cover;
  }

  .vert {
    background-color: #4ba65f;
    font-size: xx-large;
    color: gold;
  }

  .orange {
    background-color: #ffc520;
    font-size: xx-large;
    color: white;
  }

  .rouge {
    background-color: #ff5050;
    font-size: xx-large;
    color: gold;
  }

  .noir {
    background-color: #202020;
    font-size: xx-large;
    color: gold;
  }

  table {
    width: 100%;
  }
  table, th, td {
    /*border: 1px solid black;*/
    padding: 1px;
    border-collapse: collapse;
  }
  th, td {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  table#t01 th {
    color: white;
  }

  ion-list-header {
    margin-top: 0 !important;
  }
}
