<ion-header>
  <ion-navbar [color]="themeColor">
    <ion-title>Job</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="modal-job">
  <!--form [ngFormModel]="jobForm">
      <!-- Sector field-->
  <ion-list>
    <ion-list-header color="primary">
      Métier
    </ion-list-header>
    <ion-item>
      <ion-label floating>Secteur <span class="asterisk">*</span></ion-label>
      <ion-textarea [(ngModel)]="jobData.sector"></ion-textarea>  
      <button small ion-button class="text-size" item-right (click)="setSectorsPicker()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-item>
    <!--<ion-item *ngIf="sectors.length>0">
      <ion-list>
        <ion-item class="item item-text-wrap" *ngFor="let s of sectors" (click)="sectorSelected(s)">
          {{s.libelle}}
        </ion-item>
      </ion-list>
    </ion-item>-->
    <div [hidden]="isSectorFound"
         style="color:red">
      <ion-icon name="md-arrow-dropup"></ion-icon>
      Veuillez saisir un secteur valide, ou en choisir à partir de la liste en cliquant sur le bouton ci-dessus
    </div>

    <ion-item>
      <ion-label floating>Job <span class="asterisk">*</span></ion-label>
      <ion-textarea [(ngModel)]="jobData.job"></ion-textarea>  
      <button small ion-button item-right (click)="setJobsPicker()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-item>
    <!--<ion-item *ngIf="jobs.length>0">
      <ion-list>
        <ion-item *ngFor="let s of jobs" (click)="jobSelected(s)">
          {{s.libelle}}
        </ion-item>
      </ion-list>
    </ion-item>-->
    <div [hidden]="isJobFound"
         style="color:red">
      <ion-icon name="md-arrow-dropup"></ion-icon>
      Veuillez saisir un job valide, ou en choisir à partir de la liste en cliquant sur le bouton ci-dessus
    </div>


    <!-- Coefficient and conventions -->
    <div *ngFor="let conventionFilter of conventionFilters">

      <ion-item *ngIf="conventionFilter.list.length > 0">
        <ion-label floating>{{ conventionFilter.labelle }}</ion-label>
        <ion-input
          [(ngModel)]="conventionFilter.selected"
          (keyup)="watchConvFilter(conventionFilter, $event)"
        ></ion-input>
        <button
          small class="text-size" ion-button
          item-right (click)="setConvNivPicker(conventionFilter)"
        >
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-item>

      <div *ngIf="conventionFilter.filteredList.length > 0">
        <ion-list>
          <ion-item
            *ngFor="let elementFiltered of conventionFilter.filteredList"
          <!--[value]="elementFiltered.id"-->
          (click)="updateHourRateThreshold(conventionFilter, elementFiltered)"
          >
          {{elementFiltered.libelle}}
          </ion-item>
        </ion-list>
      </div>


      <div [hidden]="conventionFilter.isFound"
           style="color:red">
        <ion-icon name="md-arrow-dropup"></ion-icon>
        Veuillez saisir un niveau valide, ou en choisir à partir de la liste en cliquant sur le bouton ci-dessus
      </div>
    </div>

  </ion-list>

  <!-- Level field-->
  <ion-list radio-group [(ngModel)]="jobData.level" style="margin-bottom: 5px;">
    <ion-list-header color="primary">
      Niveau d'expérience
    </ion-list-header>
    <ion-item>
      <ion-label>Débutant</ion-label>
      <ion-radio value="junior"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Expérimenté</ion-label>
      <ion-radio value="senior"></ion-radio>
    </ion-item>
  </ion-list>
  <!-- Remuneration field-->

  <ion-list>
    <ion-list-header color="primary">
      Rémunération
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item style="padding-left: 0;">
          <ion-label floating>Taux horaire brut en € <span class="asterisk">*</span></ion-label>
          <ion-input
            type="number"
            min="0"
            [(ngModel)]="jobData.remuneration"
            (keyup)="checkHourRate()"
          ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col width-33 style="display: flex">
        <ion-item text-wrap>
          <ion-icon name="euro"></ion-icon>
          <ion-select [(ngModel)]="jobData.currency"
                      style="padding: 0;overflow: visible; max-width: 100%;"
                      [selectOptions]="alertOptions"
                      okText="Ok" cancelText="Annuler ">
            <ion-option value="euro" selected="true">Euro</ion-option>
            <!--ion-option value="dollar" disabled="true">Dollar</ion-option-->
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="invalidHourRate && jobData.remuneration"
             style="color:red">
      <ion-icon name="md-arrow-dropup"></ion-icon>
      Le taux horaire devrait être supérieur ou égal à {{ invalidHourRateMessage }}
    </ion-row>
  </ion-list>

  <ion-list *ngIf="projectTarget ==='employer'">
    <ion-list-header color="primary">
      Nombre de postes
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item style="padding-left: 0;">
          <ion-label floating>Nombre de postes <span class="asterisk">*</span></ion-label>
          <ion-input
            type="number"
            step=1
            min="1"
            [(ngModel)]="jobData.nbPoste"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!jobData.nbPoste || jobData.nbPoste < 1"
             style="color:red">
      <ion-icon name="md-arrow-dropup"></ion-icon>
      Veuillez saisir le nombre de postes
    </ion-row>
  </ion-list>

  <ion-list>
    <ion-list-header color="primary"> Coordonnées</ion-list-header>

    <ion-item no-lines>
      <ion-label stacked color="primary">
        {{isEmployer?'Lieu de mission':'Départ au travail'}}
        <span class="asterisk">*</span>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col style="padding-top: 0">
        <google-places [(bindModelData)]="searchData" (onPlaceChanged)='showResults($event)'></google-places>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="projectTarget ==='employer'">
      <ion-col>
        <ion-item style="padding-left: 0;">
          <ion-label floating>Contact sur place</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="jobData.contact"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="projectTarget ==='employer'">
      <ion-col>
        <ion-item style="padding-left: 0;">
          <ion-label floating>N° Téléphone </ion-label>
          <ion-input
            type="text"
            [(ngModel)]="jobData.telephone"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>


  <!-- Prérequis obligatoires -->
  <ion-list style="margin-bottom: 5px" *ngIf="isEmployer">
    <ion-list-header color="primary">
      Prérequis obligatoires
    </ion-list-header>
    <ion-item [hidden]="!isEmployer">
      <ion-label floating>Prérequis obligatoires</ion-label>
      <ion-input type="text" [(ngModel)]="prerequisOb" (keyup)="watchPrerequisOb($event)"></ion-input>
      <button small item-right ion-button (click)="addPrerequis()" [disabled]="!prerequisOb || prerequisOb.length==0">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-item [hidden]="isEmployer">
      <ion-label floating>Documents nécessaires</ion-label>
      <ion-input type="text" [(ngModel)]="prerequisOb" (keyup)="watchDocsNecessary($event)"></ion-input>
      <button small item-right (click)="addPrerequis()" ion-button
              [disabled]="!prerequisOb || prerequisOb.length==0 || !showPrerequisBtn">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-row style="font-size:small" >
    <ion-col>
      <ion-chip color="primary" *ngFor="let p of prerequisObligatoires" #elem>
        <ion-label>{{p}}</ion-label>
        <button ion-button clear color="light" (click)="removePrerequis(p,elem)">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-chip>
    </ion-col>
    <!--button (click)="removePrerequis(p)" ion-button>
      <ion-icon name="remove-circle"></ion-icon>
    </button>
    &nbsp;<span>{{p}}</span-->
  </ion-row>

  <ion-grid>

    <ion-row [hidden]="prerequisObList.length == 0">
      <ion-col width-100>
        <ion-list no-lines text-wrap>
          <ion-item *ngFor="let p of prerequisObList" (click)="preqOSelected(p)">
            <ion-icon name="pricetag" item-left></ion-icon>
            {{p.libelle}}
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- logiciels des pharmaciens -->
  <ion-item *ngIf="softwares != 0 && isEmployer">
    <ion-label floating>Logiciels des pharmaciens</ion-label>
    <ion-select [(ngModel)]="software">
      <ion-option *ngFor="let s of softwares" [value] = "s">{{s.nom}}</ion-option>
    </ion-select>
    <button small item-right (click)="addSoftware(software)" ion-button
            [disabled]="!software">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let s of savedSoftwares">
      <label>{{s.nom}}</label>
      <button ion-button small item-right danger (click)="removeSoftware(s)" >
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <!-- Avantages salariaux -->

  <ion-list *ngIf="convParametersVisible()">
    <ion-list-header color="primary">
      Avantages salariaux
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col width-25>Code</ion-col>
        <ion-col width-75>Avantage</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of categoriesHeure">
        <ion-col width-25>{{item.code}}</ion-col>
        <ion-col width-75>{{item.libelle}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of majorationsHeure">
        <ion-col width-25>{{item.code}}</ion-col>
        <ion-col width-75>{{item.libelle}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of indemnites">
        <ion-col width-25>{{item.code}}</ion-col>
        <ion-col width-75>{{item.libelle}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


  <ion-row>
    <ion-col text-center>
      <button [color]="themeColor" ion-button icon-left small
              [disabled]="(projectTarget === 'employer' && (!jobData.nbPoste || jobData.nbPoste <1)) || !jobData.job || !jobData.sector || !jobData.remuneration || !isSectorFound || !isJobFound || jobs.length > 0 || sectors.length > 0 || !searchData || searchData.length ==0"
              (click)="validateJob()">
        <ion-icon name="checkmark-circle"></ion-icon>
        Valider
      </button>
    </ion-col>
  </ion-row>

  <!--/form-->


</ion-content>
