<ion-header>
    <ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
        <ion-title>{{contractTitle}}</ion-title>
        <!--<ion-buttons end>
            <button (click)="selectOffer()">
                <ion-icon name="checkbox-outline"></ion-icon>
            </button>
        </ion-buttons>-->
    </ion-navbar>
</ion-header>

<ion-content class="contract">

    <ion-list>
        <ion-list-header>
            INFORMATION GENERALE
        </ion-list-header>

        <ion-item class="contract-item">
            <ion-label>Agence d'interim</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.interim" disabled="true"></ion-input>
        </ion-item>

    </ion-list>


    <ion-list>
        <ion-list-header>
            CONTRAT DE MISSION
        </ion-list-header>
        <ion-item class="contract-item">
            <ion-label>Société utilisatrice&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="companyName"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Contact</ion-label>
            <ion-input type="text" [(ngModel)]="employerFullName"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Lieu de la mission&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="workAdress"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list [disabled]="isEmployer">
        <ion-list-header>
            SALARIE INTERIMAIRE
        </ion-list-header>

        <ion-item class="contract-item">
            <ion-label>Nom</ion-label>
            <ion-input type="text" [(ngModel)]="jobyer.nom" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Prénom</ion-label>
            <ion-input type="text" [(ngModel)]="jobyer.prenom" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>N° SS</ion-label>
            <ion-input type="text" [(ngModel)]="jobyer.numSS" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Date de naissance</ion-label>
            <ion-input type="date" [(ngModel)]="jobyerBirthDate" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Lieu de naissance</ion-label>
            <ion-input type="text" [(ngModel)]="jobyer.lieuNaissance" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Nationalité</ion-label>
            <ion-input type="text" [(ngModel)]="jobyer.nationaliteLibelle" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Num. Titre de travail</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.numeroTitreTravail" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Valable DU</ion-label>
            <ion-input type="date" [(ngModel)]="contractData.debutTitreTravail" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Valable AU</ion-label>
            <ion-input type="date" [(ngModel)]="contractData.finTitreTravail" disabled="true" ></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Qualification</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.qualification" disabled="true" ></ion-input>
        </ion-item>
    </ion-list>


    <ion-list>
        <ion-list-header>
            MISSION
        </ion-list-header>

        <ion-item class="contract-item">
            <ion-label>Début de mission</ion-label>
            <ion-input type="date" [(ngModel)]="contractData.missionStartDate"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>P. essai (J)&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="number" [(ngModel)]="contractData.trialPeriod" disabled="true"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Début terme</ion-label>
            <ion-input type="date" [(ngModel)]="contractData.termStartDate"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Fin terme</ion-label>
            <ion-input type="date" [(ngModel)]="contractData.termEndDate"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Fin de mission</ion-label>
            <ion-input type="date" [(ngModel)]="contractData.missionEndDate"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Période non travaillée</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.periodesNonTravaillees"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Recours&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-select [(ngModel)]="contractData.motif" (ionChange)="recoursSelected($event)">
                <ion-option *ngFor="let r of recours" value="{{r.libelle}}">
                    {{r.libelle}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Motif&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-select [(ngModel)]="contractData.justification" >
                <ion-option *ngFor="let r of justificatifs" value="{{r.libelle}}">
                    {{r.libelle}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Début de souplesse</ion-label>
            <ion-input type="date" [(ngModel)]="contractData.debutSouplesse"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Fin de souplesse</ion-label>
            <ion-input type="date" [(ngModel)]="contractData.finSouplesse"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>A l'issue de la mission, <br/> l'embauche par l'entreprise <br/> utilisatrice n'est pas interdit&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-checkbox [(ngModel)]="embaucheAutorise"></ion-checkbox>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Le rapatriement est <br/> à la charge de l'entreprise <br/> de travail temporaire <br/> (si la mission s'effectue <br/> hors du territoire métropolitain)&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-checkbox [(ngModel)]="rapatriement"></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            POSTE DE TRAVAIL ET ORGANISATION DU TEMPS DE TRAVAIL
        </ion-list-header>
        <ion-item class="contract-item">
            <ion-label>Qualification&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="contractData.qualification"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Caractéristiques du poste&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="contractData.characteristics"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Temps de travail (H)&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="contractData.workTimeHours"></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Horaires habituels de travail&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="contractData.usualWorkTimeHours"></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Risques</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.postRisks"></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Surveillance médicale</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.medicalSurv"></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Equipement de protection</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.equipements"></ion-input>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Equipements fournis par ETT</ion-label>
            <ion-checkbox [(ngModel)]="contractData.epi"></ion-checkbox>
        </ion-item>

    </ion-list>


    <ion-list>
        <ion-list-header>
            SALAIRE DE REFERENCE-DUREE DU TRAVAIL
        </ion-list-header>


        <ion-item class="contract-item">
            <ion-label>Salaire de base&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="contractData.baseSalary"></ion-input>
        </ion-item>


        <ion-item class="contract-item">
            <ion-label>Durée collective moyenne</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.MonthlyAverageDuration"></ion-input>
        </ion-item>


    </ion-list>

    <ion-list>
        <ion-list-header>
            REMENURATION
        </ion-list-header>

        <ion-item class="contract-item">
            <ion-label>Heures normales</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.baseSalary" disabled="true">
            </ion-input>
            <span>€ B/H</span>
        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Ind. fin de mission&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="contractData.indemniteFinMission" disabled="true"></ion-input>

        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Ind. congés payés&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-input type="text" [(ngModel)]="contractData.indemniteCongesPayes" disabled="true"></ion-input>

        </ion-item>

        <ion-item class="contract-item">
            <ion-label>Conditions de la rémunération&nbsp;<span style="color: #ff0000;" >*</span></ion-label>
            <ion-select [(ngModel)]="contractData.periodicite">
                <ion-option *ngFor="let r of periodicites" value="{{r.id}}">
                    {{r.libelle}}
                </ion-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <ion-list>
        <ion-list-header>
            MEDECINE DU TRAVAIL
        </ion-list-header>
        <ion-item class="contract-item">
            <ion-label>Centre de médecine ETT</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.centreMedecineETT"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Adresse</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.adresseCentreMedecineETT"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Centre de médecine Entreprise</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.centreMedecineEntreprise"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Adresse</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.adresseCentreMedecineEntreprise"></ion-input>
        </ion-item>


    </ion-list>

    <ion-list>
        <ion-list-header>
            INFORMATIONS COMPLEMENTAIRES
        </ion-list-header>

        <ion-item class="contract-item">
            <ion-label>Siège social</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.headOffice"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Contenu de la mission</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.missionContent"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Catégorie</ion-label>
            <ion-select [(ngModel)]="contractData.category">
                <ion-option value="Employé">Employé</ion-option>
                <ion-option value="Ouvrier">Ouvrier</ion-option>
                <ion-option value="Technicien">Technicien</ion-option>
                <ion-option value="AM">AM</ion-option>
                <ion-option value="Cadre">Cadre</ion-option>
            </ion-select>

        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Filière</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.sector"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Primes</ion-label>
            <ion-input type="number" [(ngModel)]="contractData.primes"></ion-input>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Titre de transport</ion-label>
            <ion-select [(ngModel)]="contractData.titreTransport">
                <ion-option value="NON">Non</ion-option>
                <ion-option value="OUI">Oui</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="contract-item">
            <ion-label>Zones de transport</ion-label>
            <ion-input type="text" [(ngModel)]="contractData.zonesTitre"></ion-input>
        </ion-item>
    </ion-list>

    <ion-row>
        <ion-col text-center>
            <button [style.backgroundColor]="themeColor" class="contract-validation-button" (click)="goToYousignPage()" [disabled]="mandatoryDataMissing()">
                Valider les informations de contrat
            </button>
        </ion-col>

    </ion-row>
</ion-content>


