<ion-header>
<ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
    <ion-title>{{contractTitle}}</ion-title>
    <!--<ion-buttons end>
        <button (click)="selectOffer()">
            <ion-icon name="checkbox-outline"></ion-icon>
        </button>
    </ion-buttons>-->
</ion-navbar>
</ion-header>

<ion-content class="contract">

    <ion-list>
        <ion-list-header>
            INFORMATIONS GENERALES
        </ion-list-header>

        <ion-item>
            <ion-label>Agence d'interim</ion-label><ion-input type="text" [(ngModel)]="contractData.interim"></ion-input>
        </ion-item>

    </ion-list>


    <ion-list>
        <ion-list-header>
            CONTRAT DE MISSION
        </ion-list-header>
        <ion-item>
            <ion-label>Société utilisatrice</ion-label> <ion-input type="text" [(ngModel)]="companyName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Contact</ion-label><ion-input type="text" [(ngModel)]="employerFullName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Lieu de la mission</ion-label><ion-input type="text" [(ngModel)]="workAdress"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list [disabled]="isEmployer">
        <ion-list-header>
            SALARIE INTERIMAIRE
        </ion-list-header>

            <ion-item>
                <ion-label>Nom</ion-label><ion-input type="text" [(ngModel)]="jobyer.nom"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Prénom</ion-label><ion-input type="text" [(ngModel)]="jobyer.prenom"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>N° SS</ion-label><ion-input type="text" [(ngModel)]="jobyer.numSS"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Date de naissance</ion-label><ion-input type="date" [(ngModel)]="jobyerBirthDate"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Lieu de naissance</ion-label><ion-input type="text" [(ngModel)]="jobyer.lieuNaissance"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Nationalité</ion-label><ion-input type="text" [(ngModel)]="jobyer.nationaliteLibelle"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Num. Titre de travail</ion-label><ion-input type="text" [(ngModel)]="contractData.numeroTitreTravail"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Valable du</ion-label><ion-input type="date" [(ngModel)]="contractData.debutTitreTravail"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Valable au</ion-label><ion-input type="date" [(ngModel)]="contractData.finTitreTravail"></ion-input>
            </ion-item>
    </ion-list>


    <ion-list>
        <ion-list-header>
            MISSION
        </ion-list-header>

            <ion-item>
                <ion-label>Début de mission</ion-label><ion-input type="date"  [(ngModel)]="contractData.missionStartDate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Fin de mission</ion-label><ion-input type="date"  [(ngModel)]="contractData.missionEndDate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>P. essai (J) </ion-label><ion-input type="text" [(ngModel)]="contractData.trialPeriod"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Début terme </ion-label><ion-input type="date"  [(ngModel)]="contractData.termStartDate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Fin terme</ion-label><ion-input type="date"  [(ngModel)]="contractData.termEndDate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Recours</ion-label>
                <ion-select [(ngModel)]="contractData.motif" (ionChange)="recoursSelected($event)">
                    <ion-option *ngFor="let r of recours" value="{{r.libelle}}" >
                            {{r.libelle}}
                    </ion-option>
                </ion-select>
                <!--ion-input type="text" [(ngModel)]="contractData.motif"></ion-input-->
            </ion-item>
            <ion-item>
                <ion-label>Motif</ion-label>
                <ion-select [(ngModel)]="contractData.justification">
                    <ion-option *ngFor="let r of justificatifs" value="{{r.libelle}}" >
                        {{r.libelle}}
                    </ion-option>
                </ion-select>
                <!--ion-input type="text" [(ngModel)]="contractData.justification"></ion-input-->
            </ion-item>
            <ion-item>
                <ion-label>Début de souplesse</ion-label><ion-input type="date"  [(ngModel)]="contractData.debutSouplesse"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Fin de souplesse</ion-label><ion-input type="date"  [(ngModel)]="contractData.finSouplesse"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Période non travaillée</ion-label><ion-input type="text" [(ngModel)]="contractData.periodesNonTravaillees"></ion-input>
            </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            POSTE DE TRAVAIL ET ORGANISATION DU TEMPS DE TRAVAIL
        </ion-list-header>

            <ion-item>
                <ion-label>Qualification</ion-label><ion-input type="text" [(ngModel)]="contractData.qualification"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Caractéristiques du poste</ion-label><ion-input type="text" [(ngModel)]="contractData.characteristics"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Temps de travail (H)</ion-label><ion-input type="text" [(ngModel)]="contractData.workTimeHours"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Horaires habituels de travail</ion-label><ion-input type="text" [(ngModel)]="contractData.usualWorkTimeHours"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Risques</ion-label><ion-input type="text" [(ngModel)]="contractData.postRisks"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Surveillance médicale</ion-label><ion-input type="text" [(ngModel)]="contractData.medicalSurv"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>EPI</ion-label><ion-input type="text" [(ngModel)]="contractData.epi"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Equipement</ion-label><ion-input type="text" [(ngModel)]="contractData.equipements"></ion-input>
            </ion-item>
    </ion-list>


    <ion-list>
        <ion-list-header>
            SALAIRE DE REFERENCE-DUREE DU TRAVAIL
        </ion-list-header>

        
            <ion-item>
                <ion-label>Salaire de base</ion-label><ion-input type="text" [(ngModel)]="contractData.baseSalary"></ion-input>
            </ion-item>

        
            <ion-item>
                <ion-label>Durée collective moyenne</ion-label><ion-input type="text" [(ngModel)]="contractData.MonthlyAverageDuration"></ion-input>
            </ion-item>



    </ion-list>

    <ion-list>
        <ion-list-header>
            REMENURATION
        </ion-list-header>

            <ion-item>
                <ion-label>Heures normales</ion-label><ion-input type="text" [(ngModel)]="contractData.salaryNHours"></ion-input>

            </ion-item>

            <ion-item>
                <ion-label>Ind. fin de mission</ion-label><ion-input type="text" [(ngModel)]="contractData.indemniteFinMission" disabled="true" ></ion-input>

            </ion-item>

            <ion-item>
                <ion-label>Ind. congés payés</ion-label><ion-input type="text" [(ngModel)]="contractData.indemniteCongesPayes" disabled="true" ></ion-input>

            </ion-item>

    </ion-list>

    <ion-list>
        <ion-list-header>
            MEDECINE DU TRAVAIL
        </ion-list-header>
            <ion-item>
                <ion-label>Centre de médecine ETT</ion-label><ion-input type="text" [(ngModel)]="contractData.centreMedecineETT"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Adresse Centre de médecine ETT</ion-label><ion-input type="text" [(ngModel)]="contractData.adresseCentreMedecineETT"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Centre de médecine Entreprise</ion-label><ion-input type="text" [(ngModel)]="contractData.centreMedecineEntreprise"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Adresse Centre de médecine Entreprise</ion-label><ion-input type="text" [(ngModel)]="contractData.adresseCentreMedecineEntreprise"></ion-input>
            </ion-item>
            <!--ion-item>
                <ion-label>Gestion intérim</ion-label><ion-input type="text" [(ngModel)]="contractData.interimAddress"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Client</ion-label><ion-input type="text" [(ngModel)]="contractData.customer"></ion-input>
            </ion-item-->

    </ion-list>

    <ion-list>
        <ion-list-header>
            INFORMATIONS COMPLEMENTAIRES
        </ion-list-header>

            <ion-item>
                <ion-label>Primes</ion-label><ion-input type="text" [(ngModel)]="contractData.primes"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Siège social</ion-label><ion-input type="text" [(ngModel)]="contractData.headOffice"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Contenu de la mission</ion-label><ion-input type="text" [(ngModel)]="contractData.missionContent"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Catégorie</ion-label><ion-input type="text" [(ngModel)]="contractData.category"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Filière</ion-label><ion-input type="text" [(ngModel)]="contractData.sector"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Titre de transport</ion-label>
                <ion-input type="text" [(ngModel)]="contractData.titreTransport" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Zones de transport</ion-label>
                <ion-input type="text" [(ngModel)]="contractData.zonesTitre" ></ion-input>
            </ion-item>
    </ion-list>
    <ion-row>
        <ion-col width-10></ion-col>
        <ion-col text-center>
            <button [style.backgroundColor]="themeColor" (click)="goToYousignPage()">
                Valider les informations de contrat
            </button>
        </ion-col>
        <ion-col width-10></ion-col>
    </ion-row>
</ion-content>


