<ion-header>
    <ion-navbar [color]="themeColor">
        <ion-title>Sélection</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="modal-selection">
    <ion-searchbar [(ngModel)]="searchQuery"
                   (ionInput)="getItems($event)"
                   [placeholder]="searchPlaceholder"
                   [cancelButtonText]="cancelButtonText" style="background-color: #387ef5;"></ion-searchbar>

    <button ion-button icon-left block (click)="getResults()" [color]="themeColor" *ngIf="(params.get('type') === 'département de naissance') || (params.get('type') === 'lieu de naissance')"
                    [disabled]="searchQuery.length == 0" type="submit">
                <ion-icon name="search"></ion-icon>
                Rechercher
    </button>
    <ion-label text-center *ngIf="list.length == 0">{{message}}</ion-label>
    <ion-list text-wrap>
        <ion-item *ngFor="let item of list" (click)="validateModal(item)">
            {{params.get('type') !== 'département de naissance' ? (item.libelle || item.nom) : (item.numero + ' - ' + item.nom) }}
        </ion-item>
    </ion-list>
</ion-content>
