<!-- logged out menu -->
<ion-menu [content]="menuContent" id="loggedOutMenu">
	<ion-toolbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
        <ion-title>
			Menu
        </ion-title>
    </ion-toolbar>
    <ion-content class="menu" [style.backgroundColor]="themeColor">
        <ion-list no-lines text-wrap>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menuButton w">
                <ion-icon name="{{p.icon}}" icon-top></ion-icon>
                &nbsp;&nbsp;{{p.title}}
                <!--<ion-badge [style.backgroundColor]="themeColor" *ngIf="p.isBadged">
                    <ion-spinner name="crescent" [hidden]="!isCalculating"></ion-spinner>
                    {{(isCalculating)? '' : offerCount}}
                </ion-badge>-->
            </button>
            <button  ion-item *ngFor="let p of loggedOutPages" (click)="openPage(p)" class="menuButton w">
                <ion-icon name="{{p.icon}}" icon-top></ion-icon>
                &nbsp;&nbsp;{{p.title}}
                <!--ion-badge [style.backgroundColor]="themeColor" *ngIf="p.isBadged">231</ion-badge-->
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu  [content]="menuContent" id="loggedInMenu">
	<ion-toolbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''" text-left style="min-height: 70px !important;">
        <ion-title style="padding-left: 0; width:200%;">
            <ion-item style="background-color: transparent; width:100%" no-lines >
                <ion-avatar item-left>
                    <img [src]="userImageURL">
                </ion-avatar>
                <h2 style="color: white;">{{userName}}</h2>
                <p style="color: white;">{{userMail}}</p>
				<p style="color: white;">{{userPhone}}</p>
            </ion-item>
        </ion-title>
    </ion-toolbar>
    <ion-content class="menu" [style.backgroundColor]="themeColor">
        <ion-list no-lines>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menuButton w">
                <ion-icon name="{{p.icon}}" icon-top></ion-icon>
                &nbsp;&nbsp;{{p.title}}
                <!--<ion-badge [style.backgroundColor]="themeColor" *ngIf="p.isBadged">
                    <ion-spinner name="crescent" [hidden]="!isCalculating"></ion-spinner>
                    {{(isCalculating)? '' : offerCount}}
                </ion-badge>-->
            </button>
            <button menuClose ion-item *ngFor="let p of loggedInPages" (click)="openPage(p)" class="menuButton w">
                <ion-icon name="{{p.icon}}" icon-top></ion-icon>
                &nbsp;&nbsp;{{p.title}}
                <!--ion-badge [style.backgroundColor]="themeColor" *ngIf="p.isBadged">
                    <ion-spinner name="crescent" [hidden]="!isCalculating"></ion-spinner>
                    {{(isCalculating)? '' : offerCount.toString()}}
                </ion-badge-->
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #menuContent swipeBackEnabled="false">
</ion-nav>

