.menu {

  //background-image: url("../../img/bg_menu_employer.png");
  background-size: cover;
 // font-family: 'Quicksand', sans-serif;
  font-family: 'Maven Pro', sans-serif;
  font-size: 50px;

  .menuButton {
    background-color: transparent;
  }
  .about-header {
    /*background-color: #434954;
    padding: 16px;*/
    width: 100%;
    min-height: 40px;
    text-align: center;
  }
  .w {
    color: white;
  }

  //$toolbar-ios-title-text-align: left;

  ion-title {
    padding: 0 0 0 !important;
  }

  ion-spinner {
    width: 14px;
    height: 14px;
  }
  ion-spinner circle {
    stroke: white;
  }


}