settings{
  .settings {
    .deactivated {
      text-decoration: line-through;
    }

    .header-text-color{
      color: #ffffff;
    }

    .logout-text-color{
      color: #f53d3d;
    }

    .text-color{
      color: #606060;
    }
  }

}
