<!--ion-header>
<ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profil</ion-title>

</ion-navbar>
</ion-header-->

<ion-content padding class="profile" [ngStyle]="backgroundImage">

    <button menuToggle style="background-color: transparent; box-shadow: none" [style.color]="themeColor">
        <ion-icon name="menu"></ion-icon>
        &nbsp;&nbsp;Mon profil
    </button>

    <button fab fab-top fab-right [style.backgroundColor]="themeColor" style="margin-top:50px"
            (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
    </button>

    <button fab fab-top fab-right style="margin-right:66px; margin-top:50px" [style.backgroundColor]="themeColor"
            (click)="goToBankAccount()">
        <ion-icon name="logo-euro"></ion-icon>
    </button>

    <button fab fab-top fab-left class="img-button" (click)="showPictureModel()" style="margin-top:50px"
            [style.backgroundColor]="thirdThemeColor">
        <img [src]="userImageURL" style="max-width: 150%;">
    </button>

    <!-- CIVILITY-->

    <ion-card style="margin-top: 110px">
        <ion-item-divider light>{{isEmployer ? (isRecruiter ? 'Profil' : 'Fiche entreprise') : 'Profil'}}
        </ion-item-divider>
        <ion-card-content [hidden]="!userData.titre">
            <ion-item text-wrap>
                <h5>{{userData.titre ? userData.titre : ''}} {{userData.nom ? userData.nom : ''}} {{userData.prenom ?
                    userData.prenom : ''}}</h5>
                <!--p *ngIf="!isEmployer && userData.jobyer.lieuNaissance"> {{(userData.titre==='M.') ? 'né' : 'née'}} à
                    {{userData.jobyer.lieuNaissance}} le {{userData.jobyer.dateNaissance}}</p-->
                <ul *ngIf="!isEmployer && userData.jobyer.cni" style="font-size: 1.3rem;">
                    <li>CNI: {{userData.jobyer.cni}}</li>
                    <li>Numéro SS: {{userData.jobyer.numSS}}</li>
                </ul>
            </ion-item>
            <ion-item test-wrap *ngIf="isEmployer && !isRecruiter && userData.employer.entreprises.length != 0 ">
                <h5>{{userData.employer.entreprises[0].nom}}</h5>
                <p></p>
                <ul style="font-size: 1.3rem;">
                    <li>SIRET: {{userData.employer.entreprises[0].siret}}</li>
                    <li>NAF: {{userData.employer.entreprises[0].naf ? userData.employer.entreprises[0].naf.toUpperCase()
                        : ''}}
                    </li>
                </ul>
            </ion-item>
        </ion-card-content>
        <div class="button-footer">
            <button clear [style.color]="themeColor" (click)="goToInfoUserTabs()">
                <ion-icon name="create"></ion-icon>
                <div>Modifier</div>
            </button>
        </div>
    </ion-card>
    <div [hidden]="isRecruiter">
        <ion-card style="margin-bottom: 0;">
            <ion-item-divider light>Adresses</ion-item-divider>
        </ion-card>

        <div id="map"></div>
        <ion-card class="adv-map" style="margin-top: 0;margin-bottom: 1px">
            <ion-item text-wrap>
                <ion-icon subtle large item-left name='pin' style="color: #14baa6"></ion-icon>
                <h5 *ngIf="!isEmployer">Adresse personnelle</h5>
                <h5 *ngIf="isEmployer">Adresse du siège</h5>
                <p *ngIf="!isEmployer">{{userData.jobyer.personnalAdress.fullAdress}}</p>
                <p *ngIf="isEmployer && userData.employer.entreprises.length != 0">
                    {{userData.employer.entreprises[0].siegeAdress.fullAdress}}</p>
                <button clear item-right (click)="goToPersonalAddressTab()">
                    <ion-icon name="create"></ion-icon>
                </button>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon subtle large item-left name='pin' style="color: #757575"></ion-icon>
                <h5 *ngIf="!isEmployer">Adresse départ au travail</h5>
                <h5 *ngIf="isEmployer">Adresse lieu de travail</h5>
                <p *ngIf="!isEmployer">{{userData.jobyer.workAdress.fullAdress}}</p>
                <p *ngIf="isEmployer  && userData.employer.entreprises.length != 0">
                    {{userData.employer.entreprises[0].workAdress.fullAdress}}</p>
                <button clear item-right (click)="goToJobAddressTab()">
                    <ion-icon name="create"></ion-icon>
                </button>
            </ion-item>
            <ion-item text-wrap *ngIf="isEmployer">
                <ion-icon subtle large item-left name='pin' style="color: #14baa6"></ion-icon>
                <h5 *ngIf="isEmployer">Adresse de correspondance</h5>
                <p *ngIf="isEmployer && userData.employer.entreprises.length != 0">
                    {{userData.employer.entreprises[0].correspondanceAdress.fullAdress}}</p>
                <button clear item-right (click)="goToCorrespondenceAddressTab()">
                    <ion-icon name="create"></ion-icon>
                </button>
            </ion-item>
            <!--div class="button-footer">
                <button clear [style.color]="themeColor">
                    <ion-icon name="create"></ion-icon>
                    <div>Modifier</div>
                </button>
            </div-->
        </ion-card>
    </div>

    <button fab fab-bottom style="bottom:0px; position: relative;left:2%" [style.backgroundColor]="themeColor"
            (click)="showProfileQualities()">
        <ion-icon name="happy"></ion-icon>
    </button>

    <button fab fab-bottom [style.backgroundColor]="themeColor" style="bottom:0px; position: relative;left:2%"
            (click)="showProfileLanguages()" >
        <ion-icon name="globe"></ion-icon>
    </button>

    <button fab fab-bottom [style.backgroundColor]="themeColor" style="bottom:0px;  position: relative;left:2%"
            (click)="showProfileSlots()" *ngIf="!isEmployer">
        <ion-icon name="calendar"></ion-icon>
    </button>

</ion-content>
