<ion-header no-border class="myToolbar">
  <ion-toolbar transparent>
    <button ion-button icon-left menuToggle style="background-color: transparent; box-shadow: none" [style.color]="backGroundColor">
      <ion-icon name="menu" color="vojgrey"></ion-icon>
      &nbsp;&nbsp;{{missionListTitle}}
    </button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="mission-list" [ngStyle]="backgroundImage">
    <!--button ion-button menuToggle style="background-color: transparent; box-shadow: none" [style.color]="themeColor">
        <!--ion-icon name="menu"></ion-icon>
    </button-->
    <!--ion-row>

        <ion-col> <h6 [style.color]="themeColor"> Liste des contrats signés :</h6></ion-col>

	</ion-row-->
    <ion-list text-wrap>
        <div *ngFor="let m of missionList">
            <ion-list-header style="color: #757575">{{m.header}}</ion-list-header>
            <ion-row>
                <ion-col text-center>
                    <ion-spinner class="spinnerColor" [hidden]="m.loaded"></ion-spinner>
                </ion-col>
            </ion-row>
            <ion-item *ngFor="let item of m.list" (click)="goToMissionDetailsPage(item)">
                <ion-row>
                    <ion-col>
                        <h2>Mission {{item.titre}}</h2>
                    </ion-col>
                    <ion-col text-right width-10 style="padding-left: 0;">
                        <ion-icon style="font-size: x-large;"
                                  [hidden]="upperCase(item.approuve) == 'NON' || upperCase(item.vu) == 'NON'"></ion-icon> <!--name="md-done-all" -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h3 [style.color]="themeColor">
                            <!--ion-icon name="calendar"></ion-icon-->
                            &nbsp;Du {{toStringDate(item.date_de_debut)}}
                          <span *ngIf="!(toStringDate(item.date_de_fin)===toStringDate(item.date_de_debut))">au {{toStringDate(item.date_de_fin)}}</span>
                        </h3>
                        <h3 [style.color]="themeColor">
                            <!--ion-icon name="document"></ion-icon-->
                            &nbsp;Contrat N° {{item.numero}}
                        </h3>
                        <h3 [style.color]="themeColor" [hidden]="!isEmployer">
                            <!--ion-icon name="person"></ion-icon-->
                            &nbsp;Avec {{item.prenom}} {{item.nom}}
                        </h3>
                        <h3 [style.color]="themeColor">
                            <!--ion-icon name="md-create"></ion-icon-->
                          <span *ngIf="isEmployer">Vous l'avez signé </span>
                          <span *ngIf="!isEmployer">Signé par {{item.nom}} </span>
                          le {{item.date_signature | dateConverter:'short'}}
                        </h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-right>
                        <ion-badge [hidden]="upperCase(item.signature_jobyer) === 'NON'"
                                   style="background-color: #14baa6; font-size: xx-small;">
                            Contrat signé
                        </ion-badge>
                        <ion-badge [hidden]="upperCase(item.vu) === 'NON'"
                                   style="background-color: #14baa6; font-size: xx-small;">Horaires validés
                        </ion-badge>
                        <ion-badge [hidden]="upperCase(item.releve_employeur) === 'NON'"
                                   style="background-color: #14baa6; font-size: xx-small;">
                            Relevé généré
                        </ion-badge>
                        <ion-badge [hidden]="upperCase(item.approuve) === 'NON'"
                                   style="background-color: #14baa6; font-size: xx-small;">
                            Horaires signés
                        </ion-badge>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center>
                        <button ion-button item-right (click)="goToMissionPointingPage(item)"
                                [hidden]="item.option_mission != '2.0' || isEmployer || upperCase(item.releve_employeur) == 'OUI' || upperCase(item.vu) == 'NON'">
                            <!--ion-icon name="finger-print"></ion-icon-->
                            Pointage
                        </button>
                    </ion-col>
                </ion-row>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
