.modal {
  @media screen and (max-width: 750px) {
    background: rgba(black, 0.7);
    position: fixed !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  @media screen and (min-width: 755px) {
    background: rgba(black, 0.7);
  }

}

.pics {
  width: 100%;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  -webkit-transform: translateY(-50%);
}

#close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#close-icon {
  font-size: 28px;
}



.search-guide {
  //background-color: #fbba00 !important;
  //padding:0px;
}

.guided-search-span {
  //color: #FFFFFF;
  margin-right: 2px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
}

.guided-search-input {
  color: #fbba00;
  font-weight: bold;
  font-size: 2rem;
}

.guided-search-input > input {
  margin-top: 10px;
}

.bottom-toolbar {
  position: fixed;
}

.bottom-toolbar > .toolbar-background {
  background-color: transparent;
  border-style: none;
}

