.home {

}

.withoutOverflow {
  overflow: visible !important;
  font-size: small;
}

.searchIcon {
  font-size: xx-large;
  line-height: 2 !important;
}

#draggable {
  top : 500px;
  left : 50px;
  width: 150px; 
  height: 170px;
  padding: 0px;
  text-align: center;
  position: absolute;
}
