


<ion-content class="home" [ngStyle]="backgroundImage">
    <button style="background-color: transparent;"menuToggle>
        <ion-icon style="color: #808080;" name="menu"></ion-icon>
    </button>
    <!--div>
        <video autoplay muted loop preload="auto" webkit-playsinline class="bg-vid">
            <source src="https://v.ftcdn.net/01/15/06/10/700_F_115061056_9c5KmOsNqcOj26YO8Ax4aFGGZIRVpQ7o.mp4" type="video/webm">
            <source src="https://v.ftcdn.net/01/15/06/10/700_F_115061056_9c5KmOsNqcOj26YO8Ax4aFGGZIRVpQ7o.mp4" type="video/mp4">
        </video>
    </div-->

    <button fab fab-bottom fab-center (click)="stopRecognition()"
            [style.backgroundColor]="themeColor" [hidden]= "!recording">
        <ion-spinner name="dots"></ion-spinner>
    </button>
	<ion-row>&nbsp;</ion-row>
    <ion-row>&nbsp;</ion-row>
    <ion-row id="logo-position">

        <ion-col text-center><img id="logo"[src]="imageURL"/></ion-col>

    </ion-row>

    <ion-row id="home-text">
        <ion-col width-10></ion-col>
        <ion-col text-center> <h6 primary class="searchHighlight"> {{highlightSentence}} </h6></ion-col>
        <ion-col width-10></ion-col>
    </ion-row>

    <ion-row id="search-position">
            <ion-item class="itemSearch">

                <ion-label id="search-label" floating class="withoutOverflow">{{searchPlaceHolder}}</ion-label>
                <ion-input type="text" (focus)="onFocus($event)"
                           (blur)="onBlur($event)" (keyup)="checkForEnterKey($event)"
                           [(ngModel)]="scQuery"></ion-input>
                <button clear item-right (click)="doSemanticSearch()">
                    <ion-icon id="icon-search" name="search" class="searchIcon"></ion-icon>
                </button>

            </ion-item>
    </ion-row>
    <!--div id="adv-search"-->
        <ion-row>
            <ion-col text-right>
                <a id="ra" [navPush]="push">
                    Recherche avancée
                </a>
            </ion-col>

        </ion-row>
		
		<ion-card text-wrap [hidden]="autoSearchOffers.length == 0" class="cardOpacity">
		<ion-card-header style = "text-align: center;">
			Offres en mode recherche automatique
		</ion-card-header>
		<ion-list text-wrap>
			<ion-item *ngFor="let offer of autoSearchOffers" class="itemOpacity">
			<h3 (click)="launchSearch(offer, true)">{{offer.title}}</h3><ion-icon name="{{offer.arrowLabel}}" item-right (click)="launchSearch(offer, true)"></ion-icon>
			<ion-card [hidden]="offer.isResultHidden" class="cardOpacity">
			  <ion-list text-wrap>
				  <ion-card *ngFor="let item of searchResults, let i=index" class="cardMargin">
					  <ion-item no-lines text-wrap style="background-color: lightcyan">
						  <ion-avatar item-left>
							  <img [src]="item.avatar">
						  </ion-avatar>
						  <h2>{{isEmployer ? item.prenom + ' ' + item.nom.substring(0,1) + '.' : item.entreprise}}</h2>
						  <h4>{{item.titreOffre}}</h4>
						  <p><ion-icon name="ios-timer" [style.color]="availability" style="font-size: large;"></ion-icon> &nbsp; Disponible</p>
						  <ion-badge item-right secondary>{{(item.matching.toString().indexOf('.') < 0) ? item.matching:item.matching.toString().split('.')[0]}}%</ion-badge>
					  </ion-item>

					  <ion-row><ion-col text-center style="padding-top: 0; padding-bottom: 0;">
						  <button clear small (click)="itemSelected(item, offer)" style="text-decoration: underline;">Voir plus de détails</button>
					  </ion-col></ion-row>
				  </ion-card>
				</ion-list>
			</ion-card>
		</ion-item>
	</ion-list>
	</ion-card>
	
	<ion-card text-wrap [hidden]="publicOffers.length == 0" class="cardOpacity">
		<ion-card-header style = "text-align: center;">
			Offres publiques
		</ion-card-header>
		<ion-list text-wrap>
		<ion-item *ngFor="let publicOffer of publicOffers " (click)="launchSearch(publicOffer, false)" class="itemOpacity">
			<h3 class="h3-margintop">{{publicOffer.title}}</h3>
			<p>Cliquer pour voir plus de détail</p>
			<ion-badge [style.backgroundColor]="themeColor" item-right>
				<ion-spinner name="crescent" [hidden]="(publicOffer.correspondantsCount >= 0)"></ion-spinner>
				{{(publicOffer.correspondantsCount < 0) ? '' : publicOffer.correspondantsCount}}
			</ion-badge>
		</ion-item>
		</ion-list>
	</ion-card>

    <!--/div-->

    <!--ion-row>
        <ion-col width-10></ion-col>
        <ion-col text-center>
            <!-- if jobyer set button-secondary style, else button-primary is activated (default style)>
            <button [ngClass]="{'button-secondary': isEmployer==false}" (click)="doSemanticSearch()">
                <ion-icon name="search"></ion-icon>
            Lancer la recherche
            </button>
        </ion-col>
        <ion-col width-10></ion-col>
    </ion-row-->
    <ion-row id="btn-login">
        <ion-col width-10></ion-col>
        <ion-col text-center>
            <button class="deconnexionButton" [style.backgroundColor]="themeColor"  (click)="openLoginsPage()" [hidden]="cnxBtnName === 'Déconnexion'" dark>
                <ion-icon name="log-in" class="buttonLeftOnly"></ion-icon>
                {{cnxBtnName}}
            </button>
        </ion-col>
        <ion-col width-10></ion-col>
    </ion-row>
    <ion-row>&nbsp;</ion-row>
    <ion-row>&nbsp;</ion-row>


	
    <!--div class="draggable ui-widget-content">
        <ion-list>
            <ion-list-header><ion-icon  name="move"></ion-icon>Recherche</ion-list-header>
            <ion-item>
                <button list-item secondary block (click)="showCriteriaModal()" >
                    <ion-icon name="md-search"></ion-icon>Par critères
                </button>
            </ion-item>
            <ion-item>
                <button list-item primary block (click)="showGuideModal()">
                    <ion-icon name="md-search"></ion-icon>Guidée
                </button>
            </ion-item>
        </ion-list>

    </div-->


    <!--div id="drag">
        <div class="pion">
            <div class="bottom"></div>
            <div class="center"></div>
            <div class="top"><!--button style="width:50px; height: 50px;">test</button></div>
        </div>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="../../../www/scripts/drag.js"></script>
    </div-->

</ion-content>
