<!--ion-header no-border>
	<ion-navbar transparent [color]="themeColor" >
	<ion-title text-left> Retour à la liste</ion-title>
	</ion-navbar>
</ion-header-->

<ion-content padding class="mission-details-jobyer" [ngStyle]="backgroundImage">
  <button ion-button icon-left [color]="themeColor" clear navPop>
    <ion-icon name="arrow-back"></ion-icon>
    Retour à la liste des missions
  </button>
  
  <ion-card>
    <ion-item text-wrap (click)="setStarPicker()" style="background-color: aliceblue;">
      Contrat n°{{ contract.numero }}: {{contract.titre}}
      <h3 *ngIf="isReleveAvailable">
        <!--span>{{(starsText == '')? '': 'Note: '}}</span-->
        <span style="color: gold; font-size: large">{{(starsText == '')? '': starsText}}</span>
      </h3>
      <p *ngIf="isReleveAvailable">
        <span>{{(starsText=='')? 'Cliquer pour attribuer une note' : ''}}</span>
      </p>
    
    </ion-item>
    <!--[hidden]="!isEmployer || !missionHours || missionHours.length == 0"-->
    <!--<ion-card
            [hidden]="isEmployer ||upperCase(contract.signature_jobyer) == 'OUI' || (!missionHours || missionHours.length == 0)">
        <ion-list text-wrap [hidden]="prerequisObligatoires.length == 0">
            <ion-list-header>
                <p>En signant ce contrat vous vous engager à vous présenter à la mission munis des prérequis suivants</p>
            </ion-list-header>
            <ion-item *ngFor="let p of prerequisObligatoires">
                <label >{{p.libelle}}</label>
            </ion-item>

        </ion-list>
        <ion-row>
            <ion-col text-center>
                <ion-item>
                    <button ion-button icon-left block (click)="launchContractPage()" [color]="themeColor" *ngIf="!isEmployer && upperCase(contract.signature_jobyer) == 'NON' && !(upperCase(contract.signature_jobyer) == 'NON' && isSignContractClicked)">
                        <ion-icon name="create"></ion-icon>
                        Signer votre contrat
                    </button>
                    <button ion-button icon-left block (click)="refreshSignatureStatus()" [color]="themeColor" *ngIf="!isEmployer && upperCase(contract.signature_jobyer) == 'NON' && isSignContractClicked">
                        <ion-icon name="refresh"></ion-icon>
                        Rafraîchir
                    </button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>-->
    <ion-card-header style="white-space: normal;">Relevé d'heures de travail du contrat avec {{ isEmpty(contract.prenom) ? '' :
      contract.prenom }} {{ contract.nom }}.
    </ion-card-header>
    <ion-card *ngFor="let day of missionHours, let i=index">
      <ion-card-header class="cardHeader">
        Jour {{i + 1}}: {{day.jour_debut | dateConverter:'long'}}
      </ion-card-header>
      <ion-card-content style="padding: 0;">
        <ion-list>
          <ion-grid>
            <ion-row>
              <ion-col>Heure</ion-col>
              
              <ion-col text-center
                       style="border-right: solid white;background-color: lightgoldenrodyellow">
                Prévue
              </ion-col>
              
              <ion-col text-center
                       style="background-color: lightgoldenrodyellow">
                Détails
              </ion-col>
            </ion-row>
            
            <ion-row baseline style=" background-color: lightgoldenrodyellow; border-top: solid white;">
              <ion-col style="font-size: small;border-right: solid white">Début</ion-col>
              
              <ion-col style="padding: 0; border-right: solid white;" text-center>
                <button ion-button small
                        [style.backgroundColor]="setColorForValidatedHours(day, true)">
                  {{ day.heure_debut_temp }}
                </button>
              </ion-col>
              
              <ion-col text-center>
                <button ion-button small (click)="gotoHourDetails(day, true)" [color]="themeColor">
                  <ion-icon name="clipboard"></ion-icon>
                </button>
              
              </ion-col>
            </ion-row>
  
            <!-- Journée de fin de mission -->
            <ion-row baseline style=" background-color: lightgoldenrodyellow; border-top: solid white;">
              <ion-col style="font-size: small;border-right: solid white">Fin</ion-col>
    
              <ion-col style="padding: 0; border-right: solid white;" text-center>
                <button ion-button small
                        [style.backgroundColor]="setColorForValidatedHours(day, false)">
                  {{ day.heure_fin_temp }}
                </button>
              </ion-col>
    
              <ion-col text-center>
                <button ion-button small (click)="gotoHourDetails(day, false)" [color]="themeColor">
                  <ion-icon name="clipboard"></ion-icon>
                </button>
    
              </ion-col>
            </ion-row>
            <!--<ion-list *ngFor="let pause of missionPauses[i], let j=index" class="marginTopList">

                <ion-row style="background-color: lightskyblue;">
                    <ion-col>Pause {{j + 1}}</ion-col>
                    <ion-col width-10>
                        <button ion-button clear (click)="onPauseClick(i, j)">
                            <ion-icon name="trash" [hidden]="!isNewMission || !isEmployer"
                                      class="iconRight"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row baseline style="border-top: solid white;background-color: lightskyblue;">
                    <ion-col style="font-size: small;border-right: solid white;">Début de pause</ion-col>
                    <ion-col style="padding: 0; border-right: solid white;" text-center width-25>
                        <button ion-button small
                                [style.backgroundColor]="!isEmpty(pause.pause_debut_new) ? 'orange' : 'gray'"
                                (click)="onHourClick(i, j, false, true)">{{!isEmpty(pause.pause_debut_new) ?
                            (pause.pause_debut_new | timeConverter:'minute') : (isEmpty(pause.pause_debut) ?
                            ' - - : - - ' : pause.pause_debut)}}
                        </button>
                    </ion-col>
                    <ion-col [hidden]="contract.option_mission == '1.0'|| isNewMission" style="padding: 0"
                             text-center width-25>
                        <button ion-button small [hidden]="contract.option_mission == '1.0'|| isNewMission"
                                (click)="onPointedHourClick(i, j, false, true)"
                                [style.backgroundColor]="upperCase(pause.is_pause_debut_corrigee) == 'OUI' ? 'red' : (upperCase(pause.is_pause_debut_corrigee) == 'NON' ? 'green' : '')">
                            {{(pause.pause_debut_pointe)? pause.pause_debut_pointe : '--:--'}}
                        </button>
                    </ion-col>
                    <ion-col width-25 text-center *ngIf="!isEmployer && hasJobyerSigned">
                        <button ion-button small (click)="pointHour(false, pause, true, true)" [color]="themeColor" *ngIf="isEmpty(day.pause_debut_pointe)">
                            <ion-icon name="finger-print"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row baseline style="border-top: solid white;background-color: lightskyblue;">
                    <ion-col style="font-size: small;border-right: solid white;">Fin de pause</ion-col>
                    <ion-col style="padding: 0;border-right: solid white;" text-center width-25>
                        <button ion-button small (click)="onHourClick(i, j, false, false)"
                                [style.backgroundColor]="!isEmpty(pause.pause_fin_new) ? 'orange' : 'gray'">
                            {{!isEmpty(pause.pause_fin_new) ? (pause.pause_fin_new | timeConverter:'minute')
                            : (isEmpty(pause.pause_fin) ? ' - - : - - ' : pause.pause_fin)}}
                        </button>
                    </ion-col>
                    <ion-col [hidden]="contract.option_mission == '1.0'|| isNewMission" style="padding: 0"
                             text-center width-25>
                        <button ion-button small [hidden]="contract.option_mission == '1.0'|| isNewMission"
                                (click)="onPointedHourClick(i, j, false, false)"
                                [style.backgroundColor]="upperCase(pause.is_pause_fin_corrigee) == 'OUI' ? 'red' : (upperCase(pause.is_pause_fin_corrigee) == 'NON' ? 'green' : '')">
                            {{(pause.pause_fin_pointe)? pause.pause_fin_pointe : '--:--'}}
                        </button>
                    </ion-col>
                    <ion-col width-25 text-center *ngIf="!isEmployer && hasJobyerSigned">
                        <button ion-button small (click)="pointHour(false, pause, false, true)" [color]="themeColor" *ngIf="isEmpty(day.pause_fin_pointe)">
                            <ion-icon name="finger-print"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-list>-->
            
            <!-- <ion-row baseline style="background-color: lightgoldenrodyellow;border-top: solid white;">
                 <ion-col style="font-size: small;border-right: solid white;">Heure fin</ion-col>
                 <ion-col style="padding: 0; border-right: solid white;" text-center width-25>
                     <button ion-button small [style.backgroundColor]="!isEmpty(day.heure_fin_new) ? 'orange' : 'gray'"
                             (click)="onHourClick(i, j, false, false)">
                         {{!isEmpty(day.heure_fin_new) ? (day.heure_fin_new |
                         timeConverter:'minute') : (day.heure_fin | timeConverter:'minute')}}
                     </button>
                 </ion-col>
                 <ion-col [hidden]="contract.option_mission == '1.0'|| isNewMission" style="padding: 0"
                          text-center width-25>
                     <button ion-button small
                             [style.backgroundColor]="upperCase(day.is_heure_fin_corrigee) == 'OUI' ? 'red' : (upperCase(day.is_heure_fin_corrigee) == 'NON' ? 'green' : '')"
                             (click)="onPointedHourClick(i, j, false, false)"
                     >
                         {{(day.heure_fin_pointe)? day.heure_fin_pointe : '--:--'}}
                     </button>
                 </ion-col>
                 <ion-col width-25 text-center *ngIf="!isEmployer && hasJobyerSigned">
                     <button ion-button small (click)="pointHour(false, day, false, false)" [color]="themeColor" *ngIf="isEmpty(day.heure_fin_pointe)">
                         <ion-icon name="finger-print"></ion-icon>
                     </button>
                 </ion-col>
             </ion-row>-->
          </ion-grid>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
    <!--Buttons-->
    <ion-item>
      <button ion-button icon-left block
              (click)="eomReleve()"
              [style.color]="themeColor"
              *ngIf="isReleveAvailable">
        <ion-icon name="create"></ion-icon>
        Signer le relevé
      </button>
    </ion-item>
    
    <!--Légende-->
    <ion-item class="labelInItem" text-wrap>
      <h3>
        <ion-icon name="ios-information-circle-outline"></ion-icon>
        Informations :
      </h3>
      <p>
        <ion-icon name="ios-radio-button-on" style="color: gray"></ion-icon>
        Horaire pointé par le jobyer
      </p>
      <p>
        <ion-icon name="ios-radio-button-on" style="color: blue"></ion-icon>
        Horaire modifié par le jobyer
      </p>
      <p>
        <ion-icon name="ios-radio-button-on" style="color: green"></ion-icon>
        Horaire pointé et validé par l'employeur
      </p>
      <p>
        <ion-icon name="ios-radio-button-on" style="color: orange"></ion-icon>
        Horaire modifié et validé par l'employeur
      </p>
      <p>
        <ion-icon name="ios-radio-button-on" style="color: red"></ion-icon>
        Horaire invalidé par l'employeur
      </p>
      
    </ion-item>
  </ion-card>
</ion-content>
