<ion-header>
    <ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
        <ion-title style="padding-left: 0">{{fullTitle}}</ion-title>
        <ion-buttons end>
            <button (click)="close()">
                <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="search-details">
    <!--ion-grid>
        <ion-row>
            <h3>{{fullName}}</h3>&nbsp;<ion-badge item-right style="margin: 0px 8px 9px 0;">{{matching}}</ion-badge>
        </ion-row>
        <ion-row>
            &nbsp;
        </ion-row>

        <ion-row>
            {{isEmployer ? 'Offre de service: ' : 'Offre: '}} {{fullTitle}}
        </ion-row>
        <ion-row>
            &nbsp;
        </ion-row>
        <ion-row>
            <label>Tel : </label>&nbsp;
            <button clear [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                    (click)="call()" style="height:14px;margin-top:1px;padding:0px" >
                {{telephone}}
            </button>

        </ion-row>
        <ion-row>
            <label>Email : </label>&nbsp;
            <button clear [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                    (click)="sendEmail()" style="height:14px;margin-top:1px;padding:0px" >
                {{email}}
            </button>

        </ion-row>
        <ion-row>
            &nbsp;
        </ion-row>
        <ion-row>
            &nbsp;
        </ion-row>
        <ion-row>

            <ion-col width-100>
                <ion-buttons end>
                    <button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                            (click)="call()">
                        <ion-icon name="call"></ion-icon>
                    </button>
                    <button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                            (click)="sendSMS()">
                        <ion-icon name="mail"></ion-icon>
                    </button>
                    <button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''" (click)="skype()">
                        <ion-icon name="logo-skype"></ion-icon>
                    </button>
                    <button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''" (click)="googleHangout()" disabled>
                        <ion-icon name="logo-googleplus"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <ion-row>
            <button block (click)="contract()" *ngIf="!isRecruteur" >
                Recruter maintenant
            </button>
        </ion-row>
        <ion-row>
            <button danger block (click)="delete()" >
                Supprimer
            </button>
        </ion-row>

    </ion-grid-->


    <ion-card>
        <ion-item>
            <ion-avatar item-left><img [src]="avatar"></ion-avatar>
            <h3 style="margin-top: 2px;">{{fullName}}</h3>
            <ion-badge item-right style="margin: 0px 8px 9px 0;">{{(matching.toString().indexOf('.') < 0) ?
                matching:matching.toString().split('.')[0]}}%
            </ion-badge>
            <p style="color: yellowgreen">{{starsText}}</p>
        </ion-item>
        <div id="map_canvas" style="height:200px;">
        </div>

        <ion-row>
            <ion-col text-center>
                <h2 style="font-weight: bold">{{isEmployer ? 'Offre de service: ' : 'Offre: '}} {{fullTitle}} </h2>
            </ion-col>
        </ion-row>
        <ion-row>&nbsp;</ion-row>

        <ion-list no-lines [hidden]="languages.length==0">
            <ion-list-header>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Langues {{isEmployer?"maîtrisées":"requises"}}
            </ion-list-header>
            <ion-item *ngFor="let item of languages">
                <p>&nbsp;&nbsp;• {{item.libelle}} </p>
            </ion-item>
        </ion-list>
        <ion-list no-lines [hidden]="qualities.length==0">
            <ion-list-header>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qualités {{isEmployer?"acquises":"requises"}}
            </ion-list-header>
            <ion-item *ngFor="let item of qualities">
                <p>&nbsp;&nbsp;• {{item.libelle}}</p>
            </ion-item>
        </ion-list>
        <ion-item *ngIf="videoPresent">
            <iframe width="100%" height="200"
                    src="{{videoLink}}">
                <!--http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1 -->
            </iframe>
        </ion-item>


        <ion-row>
            <ion-col text-center>
                <button secondary
                        *ngIf="isEmployer && !isRecruteur"
                        (click)="contract()" small>
                    Recrutement immédiat
                </button>
            </ion-col>
        </ion-row>

        <ion-row style="padding-left: 16px; padding-top: 5px"><span style="font-size: small">Entretien :</span>
        </ion-row>
        <ion-item>
            <!--button [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                    *ngIf="isEmployer && !result.checkedContract && !isRecruteur"
                    (click)="contract()" item-left>
                Recruter maintenant!
            </button-->

            <button clear [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                    (click)="skype()" item-right>
                <ion-icon name="logo-skype"></ion-icon>
            </button>
            <button clear [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                    (click)="call()" item-right>
                <ion-icon name="call"></ion-icon>
            </button>
            <button clear [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                    (click)="sendSMS()" item-right>
                <ion-icon name="ios-chatboxes"></ion-icon>
            </button>
            <button clear [attr.secondary]="isEmployer ? '' : null" [attr.primary]="isEmployer ? null : ''"
                    (click)="sendEmail()" item-right>
                <ion-icon name="mail"></ion-icon>
            </button>
        </ion-item>


        <!--ion-item>
            <ion-label>Candidature en groupe</ion-label>
            <ion-checkbox [(ngModel)]="result.checkedContract" (ionChange)="selectContract($event)"></ion-checkbox>
        </ion-item-->

        <ion-item *ngIf="isEmployer && result.checkedContract" text-wrap style="background-color: lightcyan;
    margin-top: 0;
    margin-bottom: 0;">
            <p>
                <span style="font-size: smaller">Ce jobyer est sélectionné pour l'établissement d'un contrat, vous pouvez consulter les détails dans l'écran "Recrutement groupé"</span>
            </p>
        </ion-item>


    </ion-card>
</ion-content>
