phone {

  .phone {
    background-size: cover;

    ion-item {
      background: transparent;
    }

    button .button-outline .button-clear {
      color: black;
    }
    .error-box {
      color: red;
      text-align: right;
    }
    /*#btn-co{
      bottom: 11em;
      position: absolute;

    }
    #btn-q{
      position: absolute;
      bottom: 7em;
    }
    #btn-mdp{
      position: absolute;
      bottom: 3em;
    }*/

    .button {
      box-shadow: none !important;
    }

    ion-item {
      border-top: solid white 1px;
      border-left: solid white 1px;
    }

    .ionRow {
      padding-left: 16px;
      padding-right: 16px;
      margin-right: 16px;
    }

    /*#btn-pays {
      position: absolute;
      top: 7.5em;
      left: 0.5em;
    }*/
    .text-input {
      margin-left: 1em !important;
    }

    .showPasswordLabel {
      font-size: small;
    }
  }
}
