<ion-header>
    <ion-navbar [color]="themeColor">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{titlePage}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<ion-list-header>
        <span class="asterisk">*</span> Obligatoire <br>
        <span class="asteriskb">*</span> Obligatoire pour établir un contrat
    </ion-list-header>-->
    <ion-item class="labelInItem" text-wrap no-lines>
        <h3>
            <ion-icon name="ios-information-circle-outline"></ion-icon>
            Informations :
        </h3>
        <p>
            <span class="asterisk">*</span> Saisie obligatoire <br>
            <span class="asteriskb">*</span> Saisie facultative mais qui sera nécessaire au moment de la signature du contrat de travail
        </p>

    </ion-item>

    <ion-row>
        <ion-col width-10></ion-col>
        <ion-col text-center>
            <button ion-button icon-left block (click)="openCoporamaModal()" [color]="themeColor" *ngIf="isEmployer">
                <ion-icon name="search"></ion-icon>
                Rechercher une entreprise
            </button>
        </ion-col>
        <ion-col width-10></ion-col>
    </ion-row>

    <ion-item>
        <ion-label id="label-civi" [ngStyle]="titlestyle" floating>Titre de civilité <span class="asterisk">*</span></ion-label>
        <ion-select id="in-select" [(ngModel)]="title" (ionChange)="titleChange()" okText="OK" cancelText="Annuler">
            <ion-option value="Mme">Mme</ion-option>
            <ion-option value="Mlle">Mlle</ion-option>
            <ion-option value="M.">M.</ion-option>
        </ion-select>
    </ion-item>


    <ion-item>
        <ion-label floating>Nom <span class="asterisk">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="lastname" (keyup)="watchLastName($event)"></ion-input>
    </ion-item>
    <div [hidden]="isValideLastName"
         class="error-box">* Saisissez un nom valide
    </div>

    <ion-item>
        <ion-label floating>Prénom <span class="asterisk">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="firstname" (keyup)="watchFirstName($event)"></ion-input>
    </ion-item>
    <div [hidden]="isValideFirstName"
         class="error-box">* Saisissez un prénom valide
    </div>

    <div [hidden]="isRecruiter">
        <ion-item [hidden]="!isEmployer">
            <ion-label floating>Raison sociale</ion-label>
            <ion-input type="text" [(ngModel)]="companyname"
                       (change)="IsCompanyExist($event, 'companyname')"></ion-input>
        </ion-item>

        <ion-item [hidden]="!isEmployer">
            <ion-label floating>SIRET: 999 999 999 99999</ion-label>
            <ion-input type="tel" [(ngModel)]="siret" (keyup)="watchSIRET($event)" maxlength="17"
                       (change)="IsCompanyExist($event, 'siret')"></ion-input>
        </ion-item>
        <div [hidden]="isSIRETValid"
             class="error-box">* Saisissez les 14 chiffres du SIRET
        </div>

        <ion-item [hidden]="!isEmployer">
            <ion-label floating>NAF: 9999A</ion-label>
            <ion-input type="text" [(ngModel)]="ape" (keyup)="watchAPE($event)" maxlength="5"></ion-input>
        </ion-item>
        <div [hidden]="isAPEValid"
             class="error-box">* Saisissez les 4 chiffres suivis d'une lettre
        </div>

        <ion-item [hidden]="!isEmployer">
            <ion-label floating>Convention collective</ion-label>
            <ion-select id="conv-select" [(ngModel)]="conventionId" (ionChange)="watchConvention($event)" okText="OK" cancelText="Annuler">
                <ion-option *ngFor="let c of conventions" (click)="convSelected(c)" value="{{c.id}}">
                    {{c.code}} - {{c.libelle}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item [hidden]="!isEmployer">
            <ion-label floating>Durée collective de travail hebdomadaire</ion-label>
            <ion-input type="number" [(ngModel)]="collective_heure_hebdo"></ion-input>
        </ion-item>

        <ion-item style="margin-top: 1.5em" [hidden]="isEmployer || isAndroid4">
            <ion-label>Date de naissance <span class="asteriskb">*</span></ion-label>
            <ion-datetime [(ngModel)]="birthdate" displayFormat="DD/MM/YYYY" cancelText="Annuler " doneText="Ok"
                          (ionChange)="watchBirthdate($event)"></ion-datetime>
        </ion-item>
        <div [hidden]="isBirthdateValid"
             class="error-box">* Vous devez avoir plus de 18 ans pour pouvoir valider votre profil
        </div>

        <ion-item [hidden]="isEmployer || !isAndroid4">
            <ion-label floating>Date</ion-label>
            <ion-input type="text" [(ngModel)]="birthdate"
                       (focus)="launchDateTimePicker('date')" readonly></ion-input>
        </ion-item>

        <ion-item [hidden]="isEmployer">
            <ion-label floating>Pays de naissance <span class="asteriskb">*</span></ion-label>
            <ion-select [(ngModel)]="index" (ionChange)="watchBirthCountry()" okText="OK" cancelText="Annuler">
                <ion-option *ngFor="let p of pays" [value] = "p.indicatif_telephonique" value="p.nom">{{p.nom}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="!isEmployer && !isFrench">
            <ion-label floating>Code postal du lieu de naissance <span class="asteriskb">*</span></ion-label>
            <ion-input type="text" [(ngModel)]="indexForForeigner" disabled></ion-input>
        </ion-item>



        
        <ion-item [hidden]="isEmployer || !isFrench">
            <ion-label floating>Département de naissance <span class="asteriskb">*</span></ion-label>
            <ion-input type="text" [(ngModel)]="birthdep" [disabled]="isDepInputDisabled"></ion-input>
            <button small ion-button class="text-size" item-right (click)="setBirthdepPicker()">
                <ion-icon name="list"></ion-icon>
            </button>
        </ion-item>

        <ion-item [hidden]="isEmployer || !isFrench">
            <ion-label floating>Lieu de naissance <span class="asteriskb">*</span></ion-label>
            <ion-input type="text" [(ngModel)]="birthplace" [disabled]="isBirthplaceInputDisabled"></ion-input>
            <button small ion-button class="text-size" item-right (click)="setBirthplacePicker()">
                <ion-icon name="list"></ion-icon>
            </button>
        </ion-item>

        <ion-item [hidden]="!isEmployer">
            <ion-label floating>Organisme de médecine de travail</ion-label>
            <ion-input type="text" [(ngModel)]="medecineTravail" (keyup)="watchMedecineTravail($event)"></ion-input>
        </ion-item>
        <ion-item [hidden]="!isEmployer || medecines.length==0">
            <ion-list>
                <ion-item *ngFor="let c of medecines" (click)="medecineSelected(c)">
                    {{c.libelle}}
                </ion-item>
            </ion-list>
        </ion-item>

        <!--<ion-item [hidden]="isEmployer">
            <ion-label floating>Carte nationale d'identité</ion-label>
            <ion-input type="text" [(ngModel)]="cni" (keyup)="watchCNI($event)" maxlength="12"></ion-input>
        </ion-item>-->

        <ion-item [hidden]="isEmployer">
            <ion-label floating>N° de sécurité sociale <span class="asteriskb">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="numSS" (keyup)="watchNumSS($event)" maxlength="15"></ion-input>
        </ion-item>
		<div *ngIf="showNSSError()" class="error-box">{{numSSMessage}}</div>

        <ion-item [hidden]="isEmployer">
            <ion-label [ngStyle]="nationalitiesstyle" floating>Nationalité</ion-label>
            <ion-select [(ngModel)]="nationality" (ionChange)="onChangeNationality($event)" okText="OK" cancelText="Annuler">
                <ion-option *ngFor="let n of nationalities" value="{{n.pk_user_nationalite}}">{{n.libelle}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item [hidden]="isEmployer || isFrench">
            <ion-label [ngStyle]="nationalitiesstyle" floating>Identifiant de nationalité</ion-label>
            <ion-input type="text" [(ngModel)]="idNationaliteLabel" disabled></ion-input>
        </ion-item>

        <ion-list radio-group [(ngModel)]="isResident" style="margin-bottom: 5px;" *ngIf="!isEmployer && isEuropean == 1" >
            <ion-list-header>
                Type de document
            </ion-list-header>
            <ion-item>
                <ion-label>Carte de séjour temporaire <span class="asteriskb">*</span></ion-label>
                <ion-radio value="0"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Carte de résident <span class="asteriskb">*</span></ion-label>
                <ion-radio value="1"></ion-radio>
            </ion-item>
        </ion-list>

        <ion-list radio-group [(ngModel)]="isCIN" style="margin-bottom: 5px;" *ngIf="!isEmployer && isEuropean == 0" >
            <ion-list-header>
                Type de document <span class="asteriskb">*</span>
            </ion-list-header>
            <ion-item>
                <ion-label>CNI ou passeport </ion-label>
                <ion-radio value="1"></ion-radio>
            </ion-item>
            <ion-item text-wrap>
                <ion-label>Carte de ressortissant d'un état membre de l'UE</ion-label>
                <ion-radio value="0"></ion-radio>
            </ion-item>
        </ion-list>

        <ion-item *ngIf="!isEmployer && isEuropean == 1">
            <ion-label floating> {{isResident == 0 ? 'N° du titre de séjour' : 'N° de la carte résident'}}</ion-label>
            <ion-input type="text" [(ngModel)]="numStay"></ion-input>
        </ion-item>

        <ion-item [hidden]="isEmployer || isEuropean == 1 || isCIN == '0'">
            <ion-label floating> N° de la CNI ou Passeport <span class="asteriskb">*</span></ion-label>
            <ion-input type="text" [(ngModel)]="cni" (keyup)="watchOfficialDocument($event)" maxlength="13"></ion-input>
        </ion-item>
        <div *ngIf="showCNIError()"
             class="error-box">{{cniHint}}
        </div>

        <ion-item [hidden]="isEmployer || isEuropean == 1 || isCIN == '1'">
            <ion-label floating> N° de la carte de ressortissant <span class="asteriskb">*</span></ion-label>
            <ion-input type="text" [(ngModel)]="numStay"></ion-input>
        </ion-item>

            <ion-item [hidden]="isEmployer" text-wrap>
            <ion-label>Pièce d'identité délivrée le <span class="asteriskb">*</span></ion-label>
            <ion-datetime [(ngModel)]="tsejProvideDate"
                          displayFormat="DD/MM/YYYY" cancelText="Annuler" doneText="Ok" [(max)]="maxtsejProvideDate"
                          [(min)]="mintsejProvideDate"></ion-datetime>
        </ion-item>
        <ion-item [hidden]="isEmployer">
            <ion-label>Valable du <span class="asteriskb">*</span></ion-label>
            <ion-datetime [(ngModel)]="tsejFromDate"
                          displayFormat="DD/MM/YYYY" cancelText="Annuler" doneText="Ok" [(max)]="maxtsejFromDate"
                          [(min)]="mintsejFromDate"></ion-datetime>
        </ion-item>
        <ion-item [hidden]="isEmployer">
            <ion-label>Au <span class="asteriskb">*</span></ion-label>
            <ion-datetime [(ngModel)]="tsejToDate" displayFormat="DD/MM/YYYY" cancelText="Annuler" doneText="Ok"
                          [(max)]="maxtsejToDate" [(min)]="mintsejToDate"></ion-datetime>
        </ion-item>
        <ion-item [hidden]="isEmployer">
            <ion-label [ngStyle]="nationalitiesstyle" floating>Délivré par <span class="asteriskb">*</span></ion-label>
            <ion-select [(ngModel)]="prefecture" okText="OK" cancelText="Annuler">
                <ion-option *ngFor="let n of prefectures" value="{{n.pk_user_prefecture}}">{{n.nom}}</ion-option>
            </ion-select>
        </ion-item>
        <div class="error-box">{{tsMessage}}</div>
        <ion-row wrap *ngIf="scansLoading">
            Les {{scansLoadingTitle}} sont en cours de téléchargement veuillez patienter ...
        </ion-row>
        <ion-row wrap>
                <ion-col width-33 *ngFor="let i of allImages; let idx = index" class="col-md-2 col-xs-12 profile-doc-list-elem">
                  <img
                    class="img-thumbnail"
                    style="max-height: 100px;margin:1px;width:100%"
                    [src]="i.data"
                  />
                  <button ion-button small color="danger" style="width: 100%;" (click)="deleteImage(idx)">
                    Supprimer
                  </button>
                </ion-col>
        </ion-row>
        <ion-row>
            
            <ion-col text-center>
                <ion-label>{{uploadVerb}} une photo {{scanTitle}}</ion-label>
                <button ion-button icon-only class="file-upload button-picture" [color]="themeColor">
                    <input id="fileinput" accept="image/*" type="file" class="file-input" (change)="onChangeUpload($event)">
                    <ion-icon name='folder'></ion-icon>
                </button>

                <button ion-button icon-only seconde (click)="takePicture()" [color]="themeColor"
                        class="button-picture">
                    <ion-icon name="camera"></ion-icon>
                </button>
            </ion-col>
        </ion-row>


        <ion-card style="margin: auto;" [hidden]="!scanUri" id="card-file">
            <img [src]="scanUri"/>
            <ion-row>
                <ion-col text-center>
                    <button ion-button style="margin: auto;" clear (click)="showModal()" small>
                        <ion-icon name='expand'></ion-icon>
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button style="margin: auto;" clear (click)="onDelete($event)" small>
                        <ion-icon name='close'></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-row *ngIf="!isEmployer">
            <ion-col text-center>
                <ion-label>{{uploadCVVerb}} votre CV</ion-label>
                <button  ion-button class="file-upload button-picture" [color]="themeColor">
                    <input id="cvInput" type="file" class="file-input" accept="application/pdf" (change)="onChangeCVUpload($event)">
                    <ion-icon name='folder'></ion-icon>
                </button>
            </ion-col>
        </ion-row>

        <ion-card style="margin: auto;" [hidden]="isEmployer || isEmpty(cvUri)">
            <ion-row>
                <ion-col text-center>
                    <button ion-button style="margin: auto;" clear small (click)="downloadCV($event)">
                        <ion-icon name='download'></ion-icon>
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button style="margin: auto;" clear small (click)="deleteCV($event)">
                        <ion-icon name='close'></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
    <ion-row>
        <ion-col width-10></ion-col>
        <ion-col text-center>
            <button ion-button icon-left block (click)="updateCivility()" [color]="themeColor"
                    [disabled]="isUpdateDisabled()" type="submit">
                <ion-icon name="done-all"></ion-icon>
                Valider
            </button>
        </ion-col>
        <ion-col width-10></ion-col>
    </ion-row>
</ion-content>
