<ion-header>
  <ion-navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''" style="opacity: 1;">
    <ion-title>Devis estimatif</ion-title>
    <ion-buttons end>
      <button (click)="closeModal()">
        <ion-icon name="close-circle" style="font-size: xx-large;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            Le présent devis est à titre estimatif et sera révisé en fonction des conventions collectives applicables et de la nature des heures de travail.

        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col width-40><strong>Rubrique</strong></ion-col>
            <!--ion-col width-20><strong>Taux</strong></ion-col>
            <ion-col width-20><strong>NBH</strong></ion-col-->
            <ion-col width-20 style="padding-left: 0;padding-right: 0;"><strong>Montant</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let r of quote.lignes">
            <ion-col width-40 *ngIf="notNullValue(r)">{{r.libelleRubrique}}</ion-col>
            <!--ion-col width-20>{{r.coeff | number:'1.2-2'}}</ion-col>
            <ion-col width-20>{{formatHour(r.nbHours)}}</ion-col-->
            <ion-col width-20 *ngIf="notNullValue(r)">{{r.valeur | number:'1.2-2'}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-40>
                Total HT
            </ion-col>
            <ion-col width-20>
                {{amountBeforeTaxes | number:'1.2-2'}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-40>
                TVA {{formatPercent(taxeRate)}}
            </ion-col>
            <ion-col width-20>
                {{taxes | number:'1.2-2'}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-40>
                Total TTC
            </ion-col>
            <ion-col width-20>
                {{total | number:'1.2-2'}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
