.phone {
  background-size: cover;
  ion-item {
    background: transparent;
  }

  button .button-outline .button-clear {
    color: black;
  }
.error-box{
  color: red;
  text-align: right;
}
  /*#btn-co{
    bottom: 11em;
    position: absolute;

  }
  #btn-q{
    position: absolute;
    bottom: 7em;
  }
  #btn-mdp{
    position: absolute;
    bottom: 3em;
  }*/

  .button{
    box-shadow: none!important;
  }

}
