.search-results {

}

.view-toggle{
  position: absolute;
  right: 0px;
  top: 0px;
}

.candidate-card-header{
  background-color: #14baa6;
}

.candidate-card-header > ion-badge {
  background-color: #29bb00;
}

.candidate-card-header > span {
  margin-right: 20px;
}

.candidate-card-content {
  text-align: center;
}

.candidate-card-content > h2 {
  margin-top:7px !important;
  margin-bottom:7px !important;
  font-size: large;
  font-weight: bold;
}

.candidate-card-content > ion-row {
  margin:10px;
}

.action-sheet-title{
  font-size:large;
}

.action-sheet-button > .button-inner > ion-icon{
  margin-right:10px;
}

.offer-proposition-div{
  position: fixed;
  width: 100%;
  bottom: 0px;
  right:0px;
  background-color: #f0f0f0;
  opacity: 0.95;
  z-index : 1;
}