<!--
	Generated template for the CivilityPage page.
	See http://ionicframework.com/docs/v2/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-navbar *navbar [attr.primary]="isEmployer ? '' : null" [attr.secondary]="isEmployer ? null : ''">
    <button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
    <ion-title>Saisie de la civilité</ion-title>
</ion-navbar>

<ion-content padding>
    <ion-item>
        <ion-label floating>Titre</ion-label>
        <ion-select [(ngModel)]="title">
			<ion-option value="Mme">Mme</ion-option>
            <ion-option value="Mlle">Mlle</ion-option>
            <ion-option value="M.">M.</ion-option>
		</ion-select>
	</ion-item>
	
    <ion-item>
        <ion-label floating>Nom</ion-label>
        <ion-input type="text" [(ngModel)]="lastname"></ion-input>
	</ion-item>
	
    <ion-item>
        <ion-label floating>Prénom</ion-label>
        <ion-input type="text" [(ngModel)]="firstname"></ion-input>
	</ion-item>
	
	<ion-item [hidden]="!isEmployer">
        <ion-label floating >Nom entreprise</ion-label>
        <ion-input type="text" [(ngModel)]="companyname"></ion-input>
	</ion-item>
	
	<ion-item [hidden]="!isEmployer">
        <ion-label floating>SIRET: 999 999 999 99999</ion-label>
        <ion-input type="text" [(ngModel)]="siret" (keypress)="watchSIRET($event)" maxlength="17"></ion-input>
	</ion-item>
	
	<ion-item [hidden]="!isEmployer">
        <ion-label floating>NAF: 9999A</ion-label>
        <ion-input type="text" [(ngModel)]="ape" (keypress)="watchAPE($event)" (keyup)="changeToUppercase()" maxlength="5"></ion-input>
	</ion-item>
	
	
    <ion-item [hidden]="isEmployer">
        <ion-label stacked>Date de naissance (JJ/MM/YYYY)</ion-label>
		<ion-input type="date" [(ngModel)]="birthdate"></ion-input>
	</ion-item>
	
    <ion-item [hidden]="isEmployer">
        <ion-label floating>Lieu de naissance (ex :Palaiseau (91))</ion-label>
		<ion-input type="text" [(ngModel)]="birthplace"></ion-input>
	</ion-item>
	
    <ion-item [hidden]="isEmployer">
        <ion-label floating>CNI</ion-label>
		<ion-input type="text" [(ngModel)]="cni" (keypress)="watchCNI($event)" maxlength="12" ></ion-input>
	</ion-item>
	<div *ngIf="showCNIError()" 
	class="error-box">* Saisissez les 12 chiffres du CNI</div>
	
    <ion-item [hidden]="isEmployer">
        <ion-label floating>N° SS</ion-label>
		<ion-input type="text" [(ngModel)]="numSS" (keypress)="watchNumSS($event)" maxlength="21"></ion-input>
	</ion-item>
	<div *ngIf="showNSSError()" 
	class="error-box">* Saisissez les 21 chiffres du n° SS</div>
	
    <ion-item [hidden]="isEmployer">
        <ion-label floating>Nationalité</ion-label>
        <ion-select [(ngModel)]="nationality" (change)="onChangeNationality($event)">
            <ion-option *ngFor="let n of nationalities" value="{{n.pk_user_nationalite}}">{{n.libelle}}</ion-option>
		</ion-select>
	</ion-item>
	
	<ion-row>
		<ion-col text-center>
			<button block onclick="$('#myFileInput').click();" [style.backgroundColor]="themeColor" class="button-picture">
				<ion-icon name="download"></ion-icon>
				Charger un scan {{scanTitle}}
			</button>
		</ion-col>
	</ion-row>
	<input id="myFileInput" type="file" (change)="onChangeUpload($event)" style="visibility:hidden; display: none;"/>
	
	<ion-row>
		<ion-col text-center>
			<button block (click)="takePicture()" [style.backgroundColor]="themeColor" class="button-picture">
				<ion-icon name="md-camera"></ion-icon>
				Prendre une photo {{scanTitle}}
			</button>
		</ion-col>
	</ion-row>
	
	<ion-card [hidden]="!scanUri">
		<ion-card-content>
			<img [src]="scanUri"/>
		</ion-card-content>
	</ion-card>
	
	<ion-row>
		<ion-col width-10></ion-col>
		<ion-col text-center>
			<button block (click)="updateCivility()" [style.backgroundColor]="themeColor" [disabled]="isUpdateDisabled()" type="submit">
				<ion-icon name="done-all"></ion-icon>
				Valider
			</button>
		</ion-col>
		<ion-col width-10></ion-col>
	</ion-row>
</ion-content>
