.modal-calendar {
  .delete-button {
    position: relative;
    margin-top: 0;
    vertical-align: baseline;
    padding-right: 0 !important;
    margin-right: 0 !important;
    padding-left: 0;
  }
}
